@model MyUsers.Models.MyUser

@{
    ViewBag.Title = "Delete utente:" + ((String.IsNullOrEmpty(Model.login)) ? "N/A" : Model.login);
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
    }

<h2>Cancellazione utente: @Model.login (id: @Model.userId)</h2>

<h3>Confermare la cancellazione di questo utente?</h3>


<h3>Account</h3>
@{Html.RenderPartial("~/Areas/Admin/Views/Users/TabInfoAccount.cshtml", Model);}





@using (Html.BeginForm("Delete", "Utenti", FormMethod.Post, new { id = "MyForm" }))
{
    @Html.AntiForgeryToken()

    <input  type="hidden" name="id" value="@Model.userId" />
    
    <div data-role="controlgrup" data-type="horizontal">
        <a href="@Url.Action("Index", "Utenti")" class="ui-btn-inline ui-btn ui-corner-all ui-mini" >Torna alla lista</a>
        <a href="@Url.Action("Details", "Utenti", new { id = Model.userId })"  class="ui-btn-inline ui-btn ui-corner-all ui-mini" >Annulla</a>
        <input type="submit" value="Elimina" data-inline="true" data-mini="true" data-icon="delete" />
    </div>
}