@model mediatori.Models.MyUserModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}

<h2>Utente: @Model.Utente.login</h2>

<div class="ui-grid-a">
    <div class="ui-block-a">
        <div class="ui-bar ui-bar-b">Login:</div>
        <div class="ui-bar ui-bar-b">Profilo:</div>
        <div class="ui-bar ui-bar-b">Attivo:</div>
        <div class="ui-bar ui-bar-b">Data inserimento:</div>
        <div class="ui-bar ui-bar-b">Login success:</div>
        <div class="ui-bar ui-bar-b">Login failed:</div>
        <div class="ui-bar ui-bar-b">Data ultimo accesso:</div>
    </div>
    <div class="ui-block-b">
        <div class="ui-bar ui-body-a">@MyHelper.decodeNull(Model.Utente.login)</div>
        <div class="ui-bar ui-body-a">@(Model.Utente.Profili == null || Model.Utente.Profili.Count == 0 ? "N/A" : Model.Utente.Profili[0].nome)</div>
        <div class="ui-bar ui-body-a">@Model.Utente.isEnabled.ToString()</div>
        <div class="ui-bar ui-body-a">@MyHelper.decodeNull(Model.Utente.dateAdded)</div>
        <div class="ui-bar ui-body-a">@Model.Utente.loginSuccess </div>
        <div class="ui-bar ui-body-a">@Model.Utente.loginFailed</div>
        <div class="ui-bar ui-body-a">@MyHelper.decodeNull(Model.Utente.dateLastLogin)</div>
    </div>
</div>

<br />
<h2>Gruppi di lavorazione</h2>
@if (Model.Utente.Gruppi == null || Model.Utente.Gruppi.Count == 0)
{
    <h3>Nessun gruppo di lavorazione configurato</h3>
}
else
{
    <ol data-role="listview" data-inset="true">
        @foreach (MyUsers.Models.MyGroup g in Model.Utente.Gruppi)
        {
            <li ><a   href="@Url.Action("Details", "Groups", new {  id = g.gruppoId}) ">@(g.nome)</a></li>
        }
    </ol>
}

<div data-role="controlgrup" data-type="horizontal">
    <a href="@Url.Action("Index", "Utenti")" class="ui-btn-inline ui-btn ui-corner-all ui-mini">Annulla</a>
    <a href="@Url.Action("Edit", "Utenti", new { id = Model.Utente.userId })" class="ui-btn ui-icon-edit ui-btn-icon-left ui-btn-inline ui-corner-all ui-mini">Modifica</a>
    <a href="#" class="ui-btn ui-icon-delete ui-btn-icon-left ui-btn-inline ui-corner-all ui-mini">Elimina</a>
</div>


