@model MyUsers.Models.SearchUsers
@{
    ViewBag.Title = "Elenco utenti";
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";

    WebGrid wGrid = new WebGrid(null, rowsPerPage: Model.PageSize, defaultSort: "MY_LOGIN", canPage: false);
    wGrid.Bind(Model.Utenti, rowCount: Model.TotalRows, autoSortAndPage: false);
}

<h2>Elenco utenti</h2>
<a href="@Url.Action("Register", "Utenti")" data-icon="plus" data-inline="true" data-mini="true" data-role="button">Crea un nuovo utente</a>

@using (Html.BeginForm("Index", "Utenti", FormMethod.Post, new { id = "MyForm" }))
{

    <fieldset>
        <legend>Ricerca utenti</legend>
        <table>
            <tr>
                <td>Login</td>
                <td>
                    <input type="text" data-mini="true" data-clear-btn="true" id="filter_login" name="filter.login" value="@Model.filter.login" />
                </td>
                <td>Email</td>
                <td>
                    <input type="text" data-mini="true" data-clear-btn="true" id="filter_email" name="filter.email" value="@Model.filter.email" />
                </td>
            </tr>
            <tr>
                <td>Nome</td>
                <td>
                    <input type="text" data-mini="true" data-clear-btn="true" id="filter_nome" name="filter.nome" value="@Model.filter.nome" />
                </td>
                <td>Cognome</td>
                <td>
                    <input type="text" data-mini="true" data-clear-btn="true" id="filter_cognome" name="filter.cognome" value="@Model.filter.cognome" />
                </td>
            </tr>
        </table>
        <input type="submit" value="Ricerca" data-inline="true" data-icon="search" data-mini="true" />
    </fieldset>






    if (Model.TotalRows == 0)
    {
        <h3>Non è stato trovato nessun utente. Modificare i filtri di ricerca.</h3>
    }
    else
    {
        <div style="margin-top: 20px;">
            @wGrid.GetHtml(
            fillEmptyRows: false,
            tableStyle: "MyTable ui-responsive",
            headerStyle: "ui-bar-b",
            footerStyle: "ui-bar-b",
            rowStyle: "ui-bar-a",
            alternatingRowStyle: "ui-bar-b",
            htmlAttributes: new { data_role = "table", id = "MyWebGrid", data_mode = "reflow" },
            columns: new[]{
                wGrid.Column ("Login","login", canSort:true),
                wGrid.Column ("", header: "Profilo" , format: p =>(p.Profili == null || p.Profili.Count== 0?"N/A":p.Profili[0].nome), canSort:true),
                 wGrid.Column ("", header: "Gruppi #" , format: p =>(p.Gruppi == null ?"0":p.Gruppi.Count), canSort:true),
                wGrid.Column ("Nome","", canSort  : true),
                wGrid.Column ("Cognome","", canSort  : true),
                wGrid.Column ("Email",  format: @<a href="mailto:@item.Email">@item.Email</a>),
                wGrid.Column ("DateAdded","Data inserimento", canSort  : true),
                wGrid.Column ("DateLastLogin","Data ultimo accesso", format: p => (p.dateLastLogin == DateTime.MinValue )?" ":p.dateLastLogin  , canSort  : true ),
                wGrid.Column ("", header :"Actions",
                format:@<text>
                    <a class="ui-btn-inline ui-btn ui-icon-info ui-btn-icon-notext ui-corner-all" title="Detail" href="@Url.Action("Details", "Utenti", new { id = item.userId })">Info</a>
                    <a class="ui-btn-inline ui-btn ui-icon-edit ui-btn-icon-notext ui-corner-all" title="Edit" href="@Url.Action("Edit", "Utenti", new { id = item.userId })">Edit</a>
                    <a class="ui-btn-inline ui-btn ui-icon-delete ui-btn-icon-notext ui-corner-all" title="Delete" href="@Url.Action("Delete", "Utenti", new { id = item.userId })">Delete</a>
                </text>, canSort : false)
            })

            @{Html.RenderPartial("Paging", Model);}
        </div>
    }

}

