@model List<mediatori.Models.Anagrafiche.TipoCanaleAcquisizione>
@using mediatori.Models
@{
    ViewBag.Title = "Gestione Canali acquisizione";
}
<h2>Canale Acquisizione</h2>
<h3>@ViewBag.errorMessage</h3>
<h3>@ViewBag.message</h3>
@Html.Partial("commonConfigurazioni")
<fieldset>
    <legend>Inserimento nuova Tipologia Indirizzo</legend>
@using (Html.BeginForm("TipoCanaleAcquisizione", "Configurazioni",FormMethod.Post))
{
 <text>descrizione <input type="text" name="descrizione"/>
 <input type="submit" value="inserisci" /></text>
}
</fieldset>
<fieldset>
    <legend>Lista Canali di acquisizione configurati</legend>
    <table>
<tr><td><strong>Descrizione</strong></td><td></td></tr>
@foreach (mediatori.Models.Anagrafiche.TipoCanaleAcquisizione tipoCanaleAcquisizione in Model)
{
    <tr>
        <td>@tipoCanaleAcquisizione.descrizione</td>
        <td>@Html.ActionLink("Cancella", "cancellaTipoCanaleAcquisizione", new {id=tipoCanaleAcquisizione.id}, null)</td>
    </tr>
    
}
    </table>
</fieldset>
