@{
    ViewBag.Title = "Configurazioni";
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}

<h2>Configurazioni</h2>

<div class="canvas-flex">


    <a href="@Url.Action("Index", "Home")" data-role="none">
        <div class="ui-corner-all ui-bar ui-bar-a" style="padding-top: 10px; width: 150px; height: 150px; background-color: green;">
            <h3 style="margin-left: 20%; margin-top: 40%;">Home</h3>
        </div>
    </a>

    <a href="@Url.Action("Anagrafiche", "Home")" data-role="none">
        <div class="ui-corner-all ui-bar ui-bar-a" style="padding-top: 10px; width: 150px; height: 150px; background-color: green;">
            <h3 style="margin-left: 20%; margin-top: 40%;">Anagrafiche</h3>
        </div>
    </a>


    <a href="@Url.Action("Configurazioni", "Home")" data-role="none">
        <div class="ui-corner-all ui-bar ui-bar-a" style="padding-top: 10px; width: 150px; height: 150px;">
            <h3 style="margin-left: 20%; margin-top: 40%;">Configurazioni</h3>
        </div>
    </a>

    <a href="@Url.Action("tipoCanaleAcquisizione", "Configurazioni")" data-role="none">
        <div class="ui-corner-all ui-bar ui-bar-a" style="padding-top: 10px; width: 150px; height: 150px;">
            <h3 style="margin-left: 30%; margin-top: 40%;">Canale Aquisizione</h3>
        </div>
    </a>

    <a href="@Url.Action("Index", "Cedente")" data-role="none">
        <div class="ui-corner-all ui-bar ui-bar-a" style="padding-top: 10px; width: 150px; height: 150px;">
            <h3 style="margin-left: 30%; margin-top: 40%;">Cedenti</h3>
        </div>
    </a>

    <a href="@Url.Action("Index", "SoggettoGiuridico")" data-role="none">
        <div class="ui-corner-all ui-bar ui-bar-a" style="padding-top: 10px; width: 150px; height: 150px;">
            <h3 style="margin-left: 30%; margin-top: 40%;">Società</h3>
        </div>
    </a>

    <a href="@Url.Action("Index", "Amministrazione")" data-role="none">
        <div class="ui-corner-all ui-bar ui-bar-a" style="padding-top: 10px; width: 150px; height: 150px;">
            <h3 style="margin-left: 30%; margin-top: 40%;">Amministrazioni</h3>
        </div>
    </a>

</div>
