@model mediatori.Models.Anagrafiche.SoggettoGiuridico

@{
    Layout = null;
    ViewBag.Title = Model.ragioneSociale;
    mediatori.helper.FireAntEditHelper editHelperSoggettoGiuridico = new mediatori.helper.FireAntEditHelper("sg", "/SoggettoGiuridico/soggettoGiuridicoPartialById", Model.id.ToString());
    mediatori.helper.FireAntDetailEventDetection edSoggettoGiuridico = new mediatori.helper.FireAntDetailEventDetection("sg", Model.id);

}


<h3>Dettaglio Societa @Html.Raw(editHelperSoggettoGiuridico.getSimpleCrudButtons()) </h3>
<hr /><br />

@Html.Raw(editHelperSoggettoGiuridico.getStartForm("/SoggettoGiuridico/Edit"))
<div id="@edSoggettoGiuridico.getIdFullDetail()">
    @{Html.RenderAction("soggettoGiuridicoPartial", "SoggettoGiuridico", new { soggettoGiuridico = Model, tipoAzione = "VISUALIZZAZIONE" });}
</div>
@Html.Raw(editHelperSoggettoGiuridico.getEndForm())


<h3>Indirizzi <strong class="h3Link" id="linkNuovoIndirizzo" title="Aggiungi Indirizzo">[ + ]</strong></h3>
<script>$(function () { $("#linkNuovoIndirizzo").click(function () { $("#divNuovoIndirizzo").show(); }) })</script>
<hr />
@using (Html.BeginCollectionItem("indirizzi"))
{
    foreach (mediatori.Models.Anagrafiche.Indirizzo i in Model.indirizzi)
    {
        Html.RenderAction("indirizzoPartial", "Indirizzo", new { indirizzo = i, tipoAzione = "VISUALIZZAZIONE" });
    }

}

@using (Html.BeginForm("CreateForSoggettoGiuridico", "Indirizzo", FormMethod.Post, new { id = "novoIndirizzo" }))
{
    <div id="divNuovoIndirizzo" style="display: none">
        <input type="hidden" name="codiceSoggettoGiuridico" value="@Model.id" />
        @{Html.RenderAction("indirizzoPartial", "Indirizzo", new { indirizzo = new mediatori.Models.Anagrafiche.Indirizzo(), tipoAzione = "MODIFICA" });}
        <input type="button" value="Salva" onclick='$("#novoIndirizzo").submit()' />
        <input type="button" value="Annulla" onclick='$("#divNovoIndirizzo").hide()' />
    </div>
}

<h3>Riferimenti <strong class="h3Link" id="linkNuovoriferimento" title="Aggiungi Riferimento">[ + ]</strong></h3>
<script>$(function () { $("#linkNuovoriferimento").click(function () { $("#divNuovoRiferimento").show(); }) })</script>
<hr />
@if (Model.riferimenti != null)
{
    foreach (mediatori.Models.Anagrafiche.Riferimento riferimenti in Model.riferimenti)
    {
        {
            Html.RenderAction("riferimentoPartial", "Riferimento", new { riferimento = riferimenti, tipoAzione = "VISUALIZZAZIONE" });
        }
    }
}

@using (Html.BeginForm("CreateForSoggettoGiuridico", "Riferimento", FormMethod.Post, new { id = "novoRiferimento" }))
{
    <div id="divNuovoRiferimento" style="display: none">
        <input type="hidden" name="codiceSoggettoGiuridico" value="@Model.id" />
        @{Html.RenderAction("riferimentoPartial", "Riferimento", new { tipoAzione = "MODIFICA" });}
        <input type="button" value="Salva" onclick='$("#novoRiferimento").submit()' /><input type="button" value="Annulla" onclick='    $("#divNovoRiferimento").hide()' />
    </div>
}


<h3>Note <strong class="h3Link" id="linkNuovaNota" title="Aggiungi Nota">[ + ]</strong></h3>
<script>$(function () { $("#linkNuovaNota").click(function () { $("#divNuovaNota").show(); }) })</script>
<hr />
@if (Model.note != null)
{
    foreach (mediatori.Models.Nota nota in Model.note)
    {
        {
            Html.RenderAction("notaPartial", "Nota", new { nota = nota, tipoAzione = "VISUALIZZAZIONE" });
        }
    }
}

@using (Html.BeginForm("CreateForSoggettoGiuridico", "Nota", FormMethod.Post, new { id = "nuovaNota" }))
{
    <div id="divNuovaNota" style="display: none">
        <input type="hidden" name="codiceSoggettoGiuridico" value="@Model.id" />
        @{Html.RenderAction("notaPartial", "Nota", new { tipoAzione = "MODIFICA" });}
        <input type="button" value="Salva" onclick='$("#nuovaNota").submit()' /><input type="button" value="Annulla" onclick='    $("#divNuovaNota").hide()' />
    </div>
}


<script>
    $(function () {

        $("#Nuovo").click(function () {

            refreshValidation("createForm");
            if ($("Form").validate().form() && validateForm()) {
                $("Form").submit();
            }
        });
    });


</script>

@section Scripts {
    @Scripts.Render("~/Scripts/Segnalazioni/Create.js")
}
