@model IEnumerable<mediatori.Models.Anagrafiche.SoggettoGiuridico>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}
<a href="@Url.Action("Create", "SoggettoGiuridico")" class="ui-btn ui-corner-all ui-shadow ui-mini ui-btn-inline ui-icon-plus ui-btn-icon-left">Nuovo soggetto giuridico</a>

@using (Html.BeginForm("Index", "SoggettoGiuridico", FormMethod.Post, null))
{
    <fieldset>
        <legend>Ricerca soggetto giuridico</legend>
        <table>
            <tr>
                <td>Ragione sociale</td>
                <td>@Html.TextBox("ragioneSociale")</td>
                <td>Codice Fiscale</td>
                <td>@Html.TextBox("codiceFiscale")</td>
            </tr>
            <tr>
                <td>Tipologia</td>
                <td colspan="3">@Html.DropDownList("id",(SelectList) ViewBag.listaTipiSoggettiGiuridici)</td>
            </tr>
        </table>
        <input type="submit" value="Ricerca" data-inline="true" data-icon="search" data-mini="true" />
    </fieldset>
}


<table class="listTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ragioneSociale)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.codiceFiscale)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipoSoggettoGiuridico)
        </th>
        <th></th>        
    </tr>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(m =>item.ragioneSociale)
        </td>
        <td>
            @Html.DisplayFor(m =>item.codiceFiscale)
        </td>
        <td>
            @Html.DisplayFor(m =>item.tipoSoggettoGiuridico)
        </td>
        
        <td>
      
            @Html.ActionLink("Details", "Details", new { id=item.id })
           
        </td>
    </tr>
}

</table>
