@model mediatori.Models.Anagrafiche.SoggettoGiuridico
@{
    Layout = null;
}

<div class="display-control">
    @Html.LabelFor(p => p.ragioneSociale)
    <div>@Html.DisplayFor(p => p.ragioneSociale)</div>
</div>
<div class="display-control">
    @Html.LabelFor(p => p.codiceFiscale)
    <div>@Html.DisplayFor(p => p.codiceFiscale)</div>
</div>
<div class="display-control">
    @Html.LabelFor(p => p.tipoSoggettoGiuridico)
    <div>@Html.DisplayFor(p => p.tipoSoggettoGiuridico)</div>
</div>
