@model mediatori.Models.Anagrafiche.SoggettoGiuridico
@{
    Layout = null;
}
@Html.HiddenFor(model => model.id)

<div class="editor-label">
    @Html.MyInputType(p => p.ragioneSociale)
</div>

<div class="editor-label">
    @Html.MyInputType(p => p.codiceFiscale)
</div>

<div class="editor-label" id="divTipoSoggettoGiuridico">
    @Html.LabelFor(model => model.tipoSoggettoGiuridico)

    @if (ViewBag.tipoSoggetto == "AMMINISTRAZIONE")
    {
        <div>AMMINISTRAZIONE</div>
        @Html.HiddenFor(model => model.tipoSoggettoGiuridico, "AMMINISTRAZIONE");
    }
    else
    {
        @Html.DropDownListFor(model => model.tipoSoggettoGiuridico, (IEnumerable<SelectListItem>)ViewBag.listaTipiSoggettiGiuridici, new { data_mini = "true" });
    }
    <br />
    @Html.ValidationMessageFor(model => model.tipoSoggettoGiuridico)
</div>