@model mediatori.Models.Anagrafiche.Impiego
@{
    Layout = null;
    ViewData.TemplateInfo.HtmlFieldPrefix = "impiego";
}

@Html.HiddenFor(p => p.id)
@Html.HiddenFor(p => p.contattoId)

<div class="editor-control">
    <div class="editor-row">
        <div class="editor-label">
            @Html.MyLabelFor(m => m.amministrazioneId)
        </div>
        <div class="editor-value">
            @Html.DropDownListFor(m => m.amministrazioneId, (IEnumerable<SelectListItem>)ViewBag.listaAmministrazioni, "", new { data_mini = "true" })
        </div>
    </div>
    <div class="editor-validation">
        @Html.ValidationMessageFor(m => m.amministrazioneId)
    </div>
</div>


<div class="editor-control">
    @Html.MyInputType(m => m.aziendaSedeLavoro)
</div>

<div class="editor-control">
    <div class="editor-row">
        <div class="editor-label">
            @Html.MyLabelFor(m => m.tipoImpiego,true)
        </div>
        <div class="editor-value">
            @Html.DropDownListFor(m => m.tipoImpiego.id, (IEnumerable<SelectListItem>)ViewBag.listaTipoImpiego, "", new { data_mini = "true" })
        </div>
    </div>
    <div class="editor-validation">
        @Html.ValidationMessageFor(m => m.tipoImpiego.id)
    </div>
</div>

<div class="editor-control">
    <div class="editor-row">
        <div class="editor-label">
            @Html.MyLabelFor(m => m.categoriaImpiego, true)
        </div>
        <div class="editor-value">
            @Html.DropDownListFor(m => m.categoriaImpiego.id, (IEnumerable<SelectListItem>)ViewBag.listaCategoriaImpiego, "", new { data_mini = "true" })
        </div>
    </div>
    <div class="editor-validation">
        @Html.ValidationMessageFor(m => m.categoriaImpiego.id)
    </div>
</div>

<div class="editor-control">
    @Html.MyInputType(m => m.dataAssunzione)
</div>

<div class="editor-control">
    @Html.MyInputType(m => m.dataLicenziamento)
</div>

<div class="editor-control">
    @Html.MyInputType(m => m.stipendioNettoMensile)
</div>

<div class="editor-control">
    @Html.MyInputType(m => m.stipendioLordoMensile)
</div>

<div class="editor-control">
    @Html.MyInputType(m => m.stipendioLordoAnnuo)
</div>

<div class="editor-control">
    @Html.MyInputType(m => m.adesioneTFR)
</div>

<div class="editor-control">
    @Html.MyInputType(m => m.anticipiTFR)
</div>

<div class="editor-control">
    @Html.MyInputType(m => m.mansione)
</div>

<div class="editor-control">
    @Html.MyInputType(m => m.mensilita)
</div>

