@model mediatori.Models.Anagrafiche.Impiego
@{
    ViewBag.title = "Impiego";
    Layout = null;
}

@{
    mediatori.helper.FireAntDetailEventDetection faDetailEventDetection = new mediatori.helper.FireAntDetailEventDetection("Imp", Model.id);
    mediatori.helper.FireAntEditHelper editHelper = new mediatori.helper.FireAntEditHelper("Imp", "/Impiego/ImpiegoPartialById", Model.id.ToString());
}

@Html.Raw(faDetailEventDetection.getHeader(
                 Html.DisplayFor(m => m.tipoImpiego.descrizione).ToHtmlString()
                + " <b>mensilita</b> " + Html.DisplayFor(m => m.mensilita).ToHtmlString()
                + " <b>importo</b> " + Html.DisplayFor(m => m.stipendioNetto).ToHtmlString()
                + " <b>dal</b> " + Html.DisplayFor(m => m.dataAssunzione).ToHtmlString()
                + " <b>al</b> " + Html.DisplayFor(m => m.dataLicenziamento).ToHtmlString()))
@Html.Raw(editHelper.getStartForm("/Impiego/Edit"))
<div id="@faDetailEventDetection.getIdFullDetail()">
   @Html.Partial("ImpiegoInnerDetail", Model) 
</div>
@Html.Raw(editHelper.getEndForm())
@Html.Raw(editHelper.getCrudButtons())





