@model mediatori.Models.Anagrafiche.Impiego
@{
    Layout = null;
}


@MyJQueryMobile.MyDisplay(() => Model.amministrazione.soggettoGiuridico.ragioneSociale)


@MyJQueryMobile.MyDisplay(() => Model.dataAssunzione)

<div class="display-control">
    @Html.LabelFor(m => m.dataLicenziamento)
    <div>@Html.Display("dataLicenziamento") </div>
</div>

@MyJQueryMobile.MyDisplay(() => Model.stipendioNettoMensile)

<div class="display-control">
    @Html.LabelFor(m => m.tipoImpiegoId)
    <div>@Html.Display("tipoImpiego.descrizione")</div>
</div>
<div class="display-control">
    @Html.LabelFor(m => m.categoriaImpiegoId)
    <div>@Html.Display("categoriaImpiego.descrizione")</div>
</div>
<div class="display-control">
    @Html.LabelFor(m => m.adesioneTFR)
    <div>@Html.Display("adesioneTFR")</div>
</div>
<div class="display-control">
    @Html.LabelFor(m => m.anticipiTFR)
    <div>@Html.Display("anticipiTFR")</div>
</div>
<div class="display-control">
    @Html.LabelFor(m => m.mansione)
    <div>@Html.Display("mansione")</div>
</div>
<div class="display-control">
    @Html.LabelFor(m => m.mensilita)
    <div>@Html.Display("mensilita")</div>
</div>
