@model mediatori.Models.Anagrafiche.Amministrazione

<input type="hidden" name="id" value="@Model.id" />

<div class="editor-control">
    @Html.MyInputType(p => p.partitaIva)
</div>

<div class="editor-control">
    @Html.MyInputType(p => p.capitaleSociale)
</div>

<div class="editor-control">
    <div class="editor-row">
        <div class="editor-label">
            @Html.MyLabelFor(m => m.tipoNaturaGiuridica)
        </div>
        <div class="editor-value">
            @Html.DropDownListFor(model => model.tipoNaturaGiuridica.id, (IEnumerable<SelectListItem>)ViewBag.listaTipoNaturaGiuridica, "", new { data_mini = "true" })<br />
        </div>
    </div>
    <div class="editor-validation">
        @Html.ValidationMessageFor(m => m.tipoNaturaGiuridica.id)
    </div>
</div>

<div class="editor-control">
    <div class="editor-row">
        <div class="editor-label">
            <label for="amministrazione_stato">Stato</label>
        </div>
        <div class="editor-value">
            @{Html.RenderPartial("_Flipswitch", new mediatori.Models.FlipswitchModel("amministrazione.stato", Model.isEnabled));}
        </div>
    </div>
    <div class="editor-validation">

    </div>
</div>


<div class="editor-control">
    <div class="editor-row">
        <div class="editor-label">
            @Html.MyLabelFor(m => m.tipoCategoria)
        </div>
        <div class="editor-value">
            @Html.DropDownListFor(model => model.tipoCategoria.id, (IEnumerable<SelectListItem>)ViewBag.listaTipoCategoria, "", new { data_mini = "true" })<br />
        </div>
    </div>
    <div class="editor-validation">
        @Html.ValidationMessageFor(m => m.tipoCategoria.id)
    </div>
</div>

<div class="editor-control">
    <div class="editor-row">
        <div class="editor-label">
            @Html.MyLabelFor(m => m.assumibilita)
        </div>
        <div class="editor-value">
            @Html.DropDownListFor(model => model.assumibilita.id, (IEnumerable<SelectListItem>)ViewBag.listaTipoAssumibilita, "", new { data_mini = "true" })<br />
        </div>
    </div>
    <div class="editor-validation">
        @Html.ValidationMessageFor(m => m.assumibilita.id)
    </div>
</div>
