@model mediatori.Models.LocalPasswordModel

<h3>Cambia password</h3>

@using (Html.BeginForm("Manage", "Account"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    @Html.Hidden("user",Model.user)
    
    <fieldset>
        <legend>Form Cambia password</legend>
          <br />
            <div style="display:inline-block; width:25%"> @Html.LabelFor(m => m.OldPassword)</div>
            <div style="display:inline-block">                
                @Html.PasswordFor(m => m.OldPassword)
            </div><br />
            <div style="display:inline-block; width:25%">
                @Html.LabelFor(m => m.NewPassword)
            </div><div style="display:inline-block">
                @Html.PasswordFor(m => m.NewPassword)
            </div><br />
            <div style="display:inline-block; width:25%">
                @Html.LabelFor(m => m.ConfirmPassword)
            </div><div style="display:inline-block">
                @Html.PasswordFor(m => m.ConfirmPassword)
            </div>
        <input type="submit" value="Cambia password" />
    </fieldset>
}
