@{
    ViewBag.Title = "Informazioni";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        Utilizzare questa area per fornire informazioni aggiuntive.
    </p>

    <p>
        Utilizzare questa area per fornire informazioni aggiuntive.
    </p>

    <p>
        Utilizzare questa area per fornire informazioni aggiuntive.
    </p>
</article>

<aside>
    <h3>Titolo a parte</h3>
    <p>
        Utilizzare questa area per fornire informazioni aggiuntive.
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Informazioni", "About", "Home")</li>
        <li>@Html.ActionLink("Contatto", "Contact", "Home")</li>
    </ul>
</aside>