@model mediatori.Models.Anagrafiche.Segnalazione

@{
    ViewBag.Title = Model.contatto.nome + " " + Model.contatto.cognome;
    mediatori.helper.FireAntEditHelper editHelperContatto = new mediatori.helper.FireAntEditHelper("cnt", "/Contatto/contattoPartialById", Model.contatto.id.ToString());
    var edContatto = new mediatori.helper.FireAntDetailEventDetection("cnt", Model.id);
    mediatori.helper.FireAntEditHelper editHelperSegnalazione = new mediatori.helper.FireAntEditHelper("segn", "/GestioneSegnalazioni/segnalazionePartialById", Model.contatto.id.ToString());
    var edSegnalazione = new mediatori.helper.FireAntDetailEventDetection("segn", Model.id);
    mediatori.helper.FireAntEditHelper editHelperPreventivo = new mediatori.helper.FireAntEditHelper("prv", "/preventivo/preventivoPartialById", Model.contatto.id.ToString());
    var edPreventivo = new mediatori.helper.FireAntDetailEventDetection("prv", Model.id);

    //verifico se la segnalazione è ha un preventivo confermato
    ViewBag.confermata = false;
    foreach (mediatori.Models.Preventivo p in Model.preventivi)
    {
        if (p.dataConferma != null)
        {
            ViewBag.confermata = true;
        }
    }
}
<script>
    statoFocusOn=false;
    $(function(){
        h2stato();
    });

    function confermaPreventivo(codicePreventivo){
        $.getJSON("/Preventivo/conferma",{id:codicePreventivo},
            function (jsonPreventivo){

            });
    }


    function valorizzaStatiDisponibili(){
        if (!statoFocusOn){
            return;
        }
        var codiceStato= $("#codiceStatoCorrente").val();
        $.getJSON("/Stato/targets",{codiceStato:codiceStato,entita:"SEGNALAZIONE"}, 
            function (jsonStati){
              
                var items=[];
                items.push("<option/>");
                $.each(jsonStati, function(i,stato){
                    items.push("<option value='"+stato.id+"'>"+
                          stato.descrizione+"</option>");
                });
                    
                    
                $("#gestioneStato").html("");
                $("<input/>",{id:"btnAnnullaGestioneStato",type:"button", value:"Annulla",onclick:"h2stato()"}).appendTo("#gestioneStato");
                $("<input/>",{id:"btnSalvaGestioneStato",type:"button", value:"Salva",onclick:"save()"}).appendTo("#gestioneStato");
                $("<select/>",{id:"selectGestioneStato",html: items.join("")}).appendTo("#gestioneStato");
                $("<br/>").appendTo("#gestioneStato");
                $("#btnSalvaGestioneStato").button();
                $("#btnAnnullaGestioneStato").button();

                $("#selectGestioneStato").selectmenu().addClass( "selectModificaStato" );
            })
    };
    function save(){
        var statoSelezionato = $("#selectGestioneStato").val();
        if (statoSelezionato==""){
            displayError("selezionare lo stato di destinazione");
            return ;
        }
        $.post("/stato/update",
           {codiceStato: statoSelezionato, codiceEntita:@Model.id , entita:"SEGNALAZIONE"})
          .done(function(jsonResponse){h2stato(jsonResponse);displayMessage("aggiornamento avvenuto con successo")});
        }
        function h2stato(descrizioneStato){
        
            var descrizione="stato @Model.stato.descrizione";
            if (descrizioneStato!=null){
                descrizione="stato " + descrizioneStato;
            }
            $("#gestioneStato").html("");
            $("<h2/>",{
                style:"text-align:right;display:block;width:100%",
                id:"labelStato",
                html:descrizione
            }).appendTo("#gestioneStato");
            $("#labelStato").mouseenter(function(){
                statoFocusOn=true;
                setTimeout(function(){valorizzaStatiDisponibili()},1000)});
            $("#labelStato").mouseleave(statoFocusOn=false);  
            statoFocusOn=false;
        }
    
    
</script>

<script>
    $(document).ready(function (){
        $("#btnScrollToPreventivo").click(function (){
            $('html, body').animate({
                scrollTop: $("#preventivi").offset().top
            }, 500);
        });


        $("#btnScrollDocumentale").click(function (){
            $('html, body').animate({
                scrollTop: $("#Documentale").offset().top
            }, 500);
        });
    });
</script>

<div style="float: right"></div>


<div style="float: left">
    <input type="hidden" value="@Model.stato.id" id="codiceStatoCorrente" />
    <input type="hidden" value="@Model.stato.descrizione" id="descrizioneStatoCorrente" />

    <div id="gestioneOperazioni"></div>

    <input type="button" id="btnScrollToPreventivo" value="Preventivi" />
    <input type="button" id="btnAggiuntiPreventivo" value="Aggiungi preventivo" />
    <input type="button" id="btnScrollDocumentale" value="Documentale" />
    
    <br />
    <h1>Dettaglio segnalazione: @Model.contatto.nome  @Model.contatto.cognome</h1>
    <div id="gestioneStato">
    </div>
    <br />

    <h3>Importi  @Html.Raw(editHelperSegnalazione.getButtonModifica())
        @Html.Raw(editHelperSegnalazione.getButtonSalvaModifica())
        @Html.Raw(editHelperSegnalazione.getButtonAnnullaModifica())
        <script>$("#segnbtnEdit"+ '@Model.id').show();</script>

    </h3>
    <hr />
    @Html.Raw(editHelperSegnalazione.getStartForm("/GestioneSegnalazioni/Edit"))
    <div id="@edSegnalazione.getIdFullDetail()">
        @Html.Partial("SegnalazionePartialDetail", Model)
    </div>
    @Html.Raw(editHelperSegnalazione.getEndForm())


    <h3 id="preventivi">Preventivi  <strong class="h3Link" id="linkNuovoPreventivo" title="nuovo preventivo">[ + ]</strong></h3>
    <script>$("#linkNuovoPreventivo").click(function (){$("#divNuovoPreventivo").show();})        </script>
    <hr />
    @using (Html.BeginCollectionItem("preventivi"))
    {
        foreach (mediatori.Models.Preventivo p in Model.preventivi)
        {
            Html.RenderAction("preventivoPartial", "Preventivo", new { preventivo = p, tipoAzione = "VISUALIZZAZIONE" });
        }

    }

    @using (Html.BeginForm("createForSegnalazione", "Preventivo", FormMethod.Post, new { id = "nuovoPreventivo" }))
    {

        <div id="divNuovoPreventivo" style="display: none">
            <input type="hidden" id="codiceSegnalazionePreventivo" name="idSegnalazione" value="@Model.id" />
            @{Html.RenderAction("preventivoPartial", "Preventivo", new { segnalazione = Model, tipoAzione = "MODIFICA" });}
            <input type="button" value="Salva" onclick='$("#nuovoPreventivo").submit()' /><input type="button" value="Annulla" onclick='    $("#divNuovoPreventivo").hide()' />
        </div>
    }





    <h3>Dettaglio Contatto  @Html.Raw(editHelperContatto.getButtonModifica())
        @Html.Raw(editHelperContatto.getButtonSalvaModifica())
        @Html.Raw(editHelperContatto.getButtonAnnullaModifica())

    </h3>
    <script>$("#cntbtnEdit"+ @Model.id).show();</script>
    <hr />
    @Html.Raw(editHelperContatto.getStartForm("/Contatto/Edit"))
    <div id="@edContatto.getIdFullDetail()">
        @{Html.RenderAction("contattoPartial", "contatto", new { contatto = Model.contatto, tipoAzione = "VISUALIZZAZIONE" });}
    </div>
    @Html.Raw(editHelperContatto.getEndForm())





    <br />
    <!-- impiego -->
    <h3>Dati impiego <strong class="h3Link" id="linkNuovoImpiego" title="nuovo impiego">[ + ]</strong></h3>
    <script>$("#linkNuovoImpiego").click(function (){$("#divNuovoImpiego").show();})        </script>
    <hr />
    @using (Html.BeginCollectionItem("impieghi"))
    {
        foreach (mediatori.Models.Anagrafiche.Impiego i in Model.contatto.impieghi)
        {
            Html.RenderAction("impiegoPartial", "Impiego", new { impiego = i, tipoAzione = "VISUALIZZAZIONE" });
        }

    }

    @using (Html.BeginForm("CreateForSegnalazione", "Impiego", FormMethod.Post, new { id = "nuovoImpiego" }))
    {

        <div id="divNuovoImpiego" style="display: none">
            <input type="hidden" id="codiceSegnalazione" name="codiceSegnalazione" value="@Model.id" />
            @{Html.RenderAction("impiegoPartial", "Impiego", new { tipoAzione = "MODIFICA" });}
            <input type="button" value="Salva" onclick='$("#nuovoImpiego").submit()' /><input type="button" value="Annulla" onclick='    $("#divNuovoImpiego").hide()' />
        </div>
    }



    <h3 id="riferimenti">Riferimenti  <strong class="h3Link" id="linkNuovoriferimento" title="Aggiungi Riferimento">[ + ]</strong></h3>
    <script>$(function () { $("#linkNuovoriferimento").click(function () { $("#divNuovoRiferimento").show(); }) })</script>
    <hr />
    @if (Model.contatto.riferimenti != null)
    {
        foreach (mediatori.Models.Anagrafiche.Riferimento riferimenti in Model.contatto.riferimenti)
        {
            {
                Html.RenderAction("riferimentoPartial", "Riferimento", new { riferimento = riferimenti, tipoAzione = "VISUALIZZAZIONE" });
            }
        }
    }


    @using (Html.BeginForm("CreateForSegnalazione", "Riferimento", FormMethod.Post, new { id = "novoRiferimento" }))
    {
        <div id="divNuovoRiferimento" style="display: none">
            <input type="hidden"  name="codiceSegnalazione" value="@Model.id" />
            @{Html.RenderAction("riferimentoPartial", "Riferimento", new { tipoAzione = "MODIFICA" });}
            <input type="button" value="Salva" onclick='$("#novoRiferimento").submit()' /><input type="button" value="Annulla" onclick='    $("#divNovoRiferimento").hide()' />
        </div>
    }



    <h3>Note <strong class="h3Link" id="linkNuovaNota" title="Aggiungi Nota">[ + ]</strong></h3>
    <script>$(function () { $("#linkNuovaNota").click(function () { $("#divNuovaNota").show(); }) })</script>
    <hr />
    @if (Model.note != null)
    {
        foreach (mediatori.Models.Nota nota in Model.note)
        {
            {
                Html.RenderAction("notaPartial", "Nota", new { nota = nota, tipoAzione = "VISUALIZZAZIONE" });
            }
        }
    }

    @using (Html.BeginForm("CreateForSegnalazione", "Nota", FormMethod.Post, new { id = "nuovaNota" }))
    {
        <div id="divNuovaNota" style="display: none">
            <input type="hidden"  name="codiceSegnalazione" value="@Model.id" />
            @{Html.RenderAction("notaPartial", "Nota", new { tipoAzione = "MODIFICA" });}
            <input type="button" value="Salva" onclick='$("#nuovaNota").submit()' /><input type="button" value="Annulla" onclick='    $("#divNuovaNota").hide()' />
        </div>
    }



    <h3 id="Documentale">Documentazione <strong class="h3Link" id="linkNuovoDocumento"
        title="Aggiungi Documento">[ + ]</strong></h3>
    <script>$(function () { $("#linkNuovoDocumento").click(function () { $("#divNuovoDocumento").show(); }) })</script>
    <hr />
    @if (Model.documenti != null)
    {
        foreach (mediatori.Models.etc.Documento documento in Model.documenti)
        {
            {
                Html.RenderPartial("~/Views/Documentale/DocumentalePartialDetail.cshtml", documento);
            }
        }
    }




    @using (Html.BeginForm("Add", "Documentale", FormMethod.Post, new { id = "MyFormUpload", enctype = "multipart/form-data" }))
    {
        <div id="divNuovoDocumento" style="display: none">
            <input type ="hidden" name ="SegnalazioneId" value="@Model.id" />
            <input type="file" name="MyFile" id="MyFile" value="">

            <span style="color: red; visibility: hidden;" id="MyResponseMessage">messaggio</span>
            <br />

            <div class="ui-field-contain">
                <label for="tipoDocumentoId">Tipo documento:</label>
                <select name="tipoDocumentoId" id="tipoDocumentoId" required="required">
                    <option value="" selected="selected">---</option>
                    @foreach (mediatori.Models.Anagrafiche.TipoDocumento tipo in (List<mediatori.Models.Anagrafiche.TipoDocumento>)ViewData["TIPO_DOCUMENTO"])
                    {
                        <option value="@tipo.id">@tipo.descrizione</option>
                    }
                </select>
            </div>


            <div class="ui-field-contain">
                <label for="descrizione">Descrizione:</label>
                <textarea id="descrizione" name="descrizione"></textarea>
            </div>

            <input type="button" value="Annulla" onclick='$("#divNuovoDocumento").hide()' />
            <input type="submit" value="Upload" data-inline="true" data-mini="true" onclick="javascript: MyAsyncUpload()" />

            <div id="percent">0%</div>
        </div>
    }


</div>
