@model IList<mediatori.Models.Anagrafiche.Segnalazione>
@{
    ViewBag.Title = "IndexV2";
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";

    WebGrid wGrid = new WebGrid(Model, rowsPerPage: 10, canPage: true);
}

<h2>Lista Segnalazioni</h2>
<div id="message">@ViewBag.message</div>

<a href="@Url.Action("CreateV2", "GestioneSegnalazioni")" class="ui-btn ui-corner-all ui-shadow ui-mini ui-btn-inline ui-icon-plus ui-btn-icon-left">Nuova segnalazione</a>

@using (Html.BeginForm("IndexV2", "GestioneSegnalazioni", FormMethod.Get, null))
{
    <fieldset>
        <legend>Ricerca Contatto</legend>
        <table>
            <tr>
                <td>Nome</td>
                <td>@Html.TextBox("nome")</td>
                <td>Cognome</td>
                <td>@Html.TextBox("cognome")</td>

            </tr>
            <tr>
                <td>Inserito Da</td>
                <td>@Html.TextBox("dataInserimentoDa")</td>
                <td>A </td>
                <td>@Html.TextBox("dataInserimentoA")</td>
            </tr>
        </table>
        <input type="submit" value="Ricerca" data-inline="true" data-icon="search" data-mini="true" />
    </fieldset>
    
    
    if (Model.Count == 0)
    {
    <h3>Non è stata trovata nessuna segnalazione. Modificare i filtri di ricerca.</h3>
    }
    else
    {
    <div style="margin-top: 20px;">
        @wGrid.GetHtml(
            fillEmptyRows: false,
            tableStyle: "MyTable ui-responsive",
            headerStyle: "ui-bar-c",
            footerStyle: "ui-bar-b",
            rowStyle: "ui-bar-a",
            alternatingRowStyle: "ui-bar-b",
            htmlAttributes: new { data_role = "table", id = "MyWebGrid", data_mode = "reflow" },
            columns: new[]{
                    wGrid.Column (columnName:"contatto.nome", header :"Nome", canSort:false),
                    wGrid.Column (columnName:"contatto.cognome", header :"Cognome", canSort:false),
                    wGrid.Column (columnName:"importoRichiesto", header :"Importo", canSort:false, format: p=> String.Format("{0:N2}",p.importoRichiesto)),
                    wGrid.Column (columnName:"durataRichiesta", header :"Durata", canSort:false),
                    wGrid.Column (columnName:"prodottoRichiesto.descrizione", header :"Prodotto", canSort:false),
                    wGrid.Column ("", header :"Actions", 
                        format:@<text>
                            <a class="ui-btn-inline ui-btn ui-icon-info ui-btn-icon-notext ui-corner-all" title="Detail"  href="@Url.Action("DetailsV2", "GestioneSegnalazioni", new { id = item.id })">Info</a>
                            </text>, canSort : false)
                })

    </div>
    }



}
