@model mediatori.Models.Anagrafiche.DocumentoIdentita
@{
    Layout = null;
}

<div class="display-control">
    @Html.LabelFor(m => m.dataRilascio)
    <div>@Html.Display("dataRilascio")</div>
</div>
<div class="display-control">
    @Html.LabelFor(m => m.dataScadenza)
    <div>@Html.Display("dataScadenza") </div>
</div>
<div class="display-control">
    @Html.LabelFor(m => m.numeroDocumento)
    <div>@Html.Display("numeroDocumento") </div>
</div>
<div class="display-control">
    @Html.LabelFor(m => m.enteRilascio)
    <div>@Html.Display("enteRilascio.descrizione") </div>
</div>
<div class="display-control">
    @Html.LabelFor(m => m.provinciaEnte)
    <div>@Html.Display("provinciaEnte.denominazione") </div>
</div>
<div class="display-control">
    @Html.LabelFor(m => m.comuneEnte)
    <div>@Html.Display("comuneEnte.denominazione") </div>
</div>


