@model mediatori.Models.Segnalazione.SegnalazioneCreateModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}




<script type="text/javascript">
    $(document).on("pageinit", function () {
        
        idProvincia = "segnalazione_contatto_provinciaNascita_denominazione";
        idComune = "segnalazione_contatto_comuneNascita_denominazione";

        //alert("idProvincia" + idProvincia);

        $("#segnalazione_contatto_provinciaNascita_denominazione").change(function () {
            popolaComboComuni(idProvincia, idComune);
        });

        
    });
</script>



<h2>Nuova Segnalazione</h2>

@using (Html.BeginForm("Create", "Segnalazioni", FormMethod.Post, new { @id = "createForm" }))
{
    Html.ValidationSummary(true);
    Html.HiddenFor(model => model.segnalazione.contatto.id);

    <h3>Dati anagrafici</h3><hr />
    <div class="editor-control">
        @Html.MyInputType(p => p.segnalazione.contatto.nome)
    </div>

    <div class="editor-control">
        @Html.MyInputType(p => p.segnalazione.contatto.cognome)
    </div>

    <div class="editor-control">
        @Html.MyInputType(p => p.segnalazione.contatto.dataNascita)
    </div>

    <div class="editor-control">
        @Html.MyInputType(p => p.segnalazione.contatto.nazioneNascita)
    </div>



    <div class="editor-control">
        <div class="editor-row">
            <div class="editor-label">
                @Html.MyLabelFor(m => m.segnalazione.contatto.provinciaNascita)
            </div>
            <div class="editor-value">
                @Html.DropDownListFor(m => m.segnalazione.contatto.provinciaNascita.denominazione, (IEnumerable<SelectListItem>)ViewBag.listaProvincia, "", new { data_mini = "true" })
            </div>
        </div>
        <div class="editor-validation">
            @Html.ValidationMessageFor(m => m.segnalazione.contatto.provinciaNascita.denominazione)
        </div>
    </div>



    <div class="editor-control">
        <div class="editor-row">
            <div class="editor-label">
                @Html.MyLabelFor(m => m.segnalazione.contatto.comuneNascita)
            </div>
            <div class="editor-value">
                @Html.DropDownListFor(m => m.segnalazione.contatto.comuneNascita.denominazione, (IEnumerable<SelectListItem>)ViewBag.listaComuni, "Selezionare una provincia ...", new { data_mini = "true" })
            </div>
        </div>
        <div class="editor-validation">
            @Html.ValidationMessageFor(m => m.segnalazione.contatto.comuneNascita.denominazione)
        </div>
    </div>



    <div class="editor-control">
        @Html.MyInputType(p => p.segnalazione.contatto.codiceFiscale)
    </div>

    <div class="editor-control">
        @Html.MyInputType(p => p.segnalazione.contatto.cittadinanza)
    </div>
    

    <div class="editor-control">
        <div class="editor-row">
            <div class="editor-label">
                @Html.MyLabelFor(m => m.segnalazione.contatto.statoCivile)
            </div>
            <div class="editor-value">
                <select name="segnalazione.contatto.statoCivile" id="segnalazione_contatto_statoCivile" data-mini="true">
                    <option value="" selected="selected">---</option>
                    @foreach (var statoCivile in Enum.GetValues(typeof(mediatori.Models.Anagrafiche.EnumStatoCivile)))
                    {
                        <option value="@statoCivile">@statoCivile</option>
                    }
                </select>
            </div>
        </div>
        <div class="editor-validation">
            @Html.ValidationMessageFor(m => m.segnalazione.contatto.statoCivile)
        </div>
    </div>


    



    <div class="editor-control">
        <div class="editor-row">
            <div class="editor-label">
                @Html.MyLabelFor(m => m.segnalazione.contatto.sesso)
            </div>
            <div class="editor-value">
                <select name="segnalazione.contatto.sesso" id="segnalazione_contatto_sesso" data-mini="true">
                    <option value="" selected="selected">---</option>
                    @foreach (var eSesso in Enum.GetValues(typeof(mediatori.Models.Anagrafiche.EnumSesso)))
                    {
                        <option value="@eSesso">@eSesso</option>
                    }
                </select>
            </div>
        </div>
        <div class="editor-validation">
            @Html.ValidationMessageFor(m => m.segnalazione.contatto.sesso)
        </div>
    </div>
    
   

   


    <div id="grigliaContattiDuplicati"></div>

     <!-- impiego -->
    <h3>Dati impiego</h3>
    if (Model.impiego != null)
    {
        { Html.RenderAction("Create", "Impiego", new { impiego = Model.impiego }); }
    }


    <h3>Importi</h3>
    <hr />
    <div class="editor-control">
        @Html.MyInputType(p => p.segnalazione.importoRichiesto)
    </div>
    <div class="editor-control">
        @Html.MyInputType(p => p.segnalazione.durataRichiesta)
    </div>
    <div class="editor-control">
        @Html.MyInputType(p => p.segnalazione.rataRichiesta)
    </div>


    <div class="editor-control">
        <div class="editor-row">
            <div class="editor-label">
                @Html.MyLabelFor(m => m.segnalazione.altroPrestito)
            </div>
            <div class="editor-value">
                @Html.DropDownListFor(m => m.segnalazione.altroPrestito.id, (IEnumerable<SelectListItem>)ViewBag.listaTipoPrestito, "", new { data_mini = "true" })
            </div>
        </div>
        <div class="editor-validation">
            @Html.ValidationMessageFor(m => m.segnalazione.altroPrestito.id)
        </div>
    </div>


    <div class="editor-control">
        <div class="editor-row">
            <div class="editor-label">
                @Html.MyLabelFor(m => m.segnalazione.prodottoRichiesto)
            </div>
            <div class="editor-value">
                @Html.DropDownListFor(m => m.segnalazione.prodottoRichiesto.id, (IEnumerable<SelectListItem>)ViewBag.listaProdotti, "", new { data_mini = "true" })
            </div>
        </div>
        <div class="editor-validation">
            @Html.ValidationMessageFor(m => m.segnalazione.prodottoRichiesto.id)
        </div>
    </div>




    <h3>Dati Campagna</h3>
    <hr />

    <div class="editor-control">
        <div class="editor-row">
            <div class="editor-label">
                @Html.MyLabelFor(m => m.segnalazione.fontePubblicitaria)
            </div>
            <div class="editor-value">
                @Html.DropDownListFor(m => m.segnalazione.fontePubblicitaria.id, (IEnumerable<SelectListItem>)ViewBag.listaFontePubblicitaria, "", new { data_mini = "true" })
            </div>
        </div>
        <div class="editor-validation">
            @Html.ValidationMessageFor(m => m.segnalazione.fontePubblicitaria.id)
        </div>
    </div>

    <div class="editor-control">
        <div class="editor-row">
            <div class="editor-label">
                @Html.MyLabelFor(m => m.segnalazione.canaleAcquisizione)
            </div>
            <div class="editor-value">
                @Html.DropDownListFor(m => m.segnalazione.canaleAcquisizione.id, (IEnumerable<SelectListItem>)ViewBag.listaTipoCanaleAcquisizione, "", new { data_mini = "true" })
            </div>
        </div>
        <div class="editor-validation">
            @Html.ValidationMessageFor(m => m.segnalazione.canaleAcquisizione.id)
        </div>
    </div>


    <div class="editor-control">
        <div class="editor-row">
            <div class="editor-label">
                @Html.MyLabelFor(m => m.segnalazione.tipoLuogoRitrovo)
            </div>
            <div class="editor-value">
                @Html.DropDownListFor(m => m.segnalazione.tipoLuogoRitrovo.id, (IEnumerable<SelectListItem>)ViewBag.listaTipoLuogoRitrovo, "", new { data_mini = "true" })
            </div>
        </div>
        <div class="editor-validation">
            @Html.ValidationMessageFor(m => m.segnalazione.tipoLuogoRitrovo.id)
        </div>
    </div>


    <div class="editor-control">
        <div class="editor-row">
            <div class="editor-label">
                @Html.MyLabelFor(m => m.segnalazione.tipoContatto)
            </div>
            <div class="editor-value">
                @Html.DropDownListFor(m => m.segnalazione.tipoContatto.id, (IEnumerable<SelectListItem>)ViewBag.listaTipoContatto, "", new { data_mini = "true" })
            </div>
        </div>
        <div class="editor-validation">
            @Html.ValidationMessageFor(m => m.segnalazione.tipoContatto.id)
        </div>
    </div>


    <h3>Riferimenti</h3>
    <hr />
    if (Model.riferimento != null)
    {
        { Html.RenderAction("Create", "Riferimento", new { riferimento = Model.riferimento }); }
    }


    <h3>Note</h3>
    <hr />
    if (Model.nota != null)
    {
        Html.RenderPartial("~/Views/Nota/NotaPArtialEdit.cshtml", Model.nota);
    }


    <div data-role="footer" data-position="fixed" data-theme="c">
        <div data-role="navbar">
            <ul>
                <li><a href="@Url.Action("Index")" class="ui-btn-inline ui-btn ui-corner-all ui-mini">Annulla</a></li>
                <li><input type="submit" value="Salva" id="Nuovo" data-inline="true" data-mini="true" /></li>
            </ul>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/Scripts/Segnalazioni/Create.js")
}


