@model mediatori.Models.Anagrafiche.Segnalazione

@{
    ViewBag.Title = Model.contatto.nome + " " + Model.contatto.cognome;

    Layout = "~/Views/Shared/_LayoutMobile.cshtml";

    
    
    mediatori.helper.FireAntEditHelper editHelperSegnalazione = new mediatori.helper.FireAntEditHelper("segn", "/Segnalazioni/segnalazionePartialById", Model.contatto.id.ToString());
    var edSegnalazione = new mediatori.helper.FireAntDetailEventDetection("segn", Model.id);
   
    mediatori.helper.FireAntEditHelper editHelperPreventivo = new mediatori.helper.FireAntEditHelper("prv", "/Preventivo/preventivoPartialById", Model.contatto.id.ToString());
    var edPreventivo = new mediatori.helper.FireAntDetailEventDetection("prv", Model.id);

    ////verifico se la segnalazione è ha un preventivo confermato
    //ViewBag.confermata = false;
    //foreach (mediatori.Models.Preventivo p in Model.preventivi)
    //{
    //    if (p.dataConferma != null)
    //    {
    //        ViewBag.confermata = true;
    //    }
    //}
}
<script>
    statoFocusOn = false;

    $(function () {
        h2stato();
    });

    var codicePreventivo = null;
    

    function selezionaPreventivo(id) {
        //alert("confermaPreventivo: " + id);
        codicePreventivo = id;
        $("#popupDialog").popup("open");
    }


    function popupDialogConfirm() {
        //alert("popupDialogConfirm");
        $("#popupDialog").popup("close");

        if (codicePreventivo != null) {
            $.getJSON("@Url.Action("Conferma", "Preventivo")", { id: codicePreventivo }, function (response) {
                //alert(response.messaggio);
                if (response.esito == 1) {
                    window.location.href = "@Url.Action("Details", "Pratiche")/" + response.referenceId;
                }
                else {
                    //FAILED
                    //alert(response.messaggio);

                    showMyPopUpError(response.messaggio);

                }
                codicePreventivo = null;
            });
           
        }
    }

   


    function popupDialogCancel() {
        //alert("popupDialogCancel");
        $("#popupDialog").popup("close");
        codicePreventivo = null;
    }


    function valorizzaStatiDisponibili() {
        if (!statoFocusOn) {
            return;
        }
        var codiceStato = $("#codiceStatoCorrente").val();

        $.getJSON("@Url.Action("targets", "Stato")", { codiceStato: codiceStato, entita: "SEGNALAZIONE" },
            function (jsonStati) {

                var items = [];
                items.push("<option/>");
                $.each(jsonStati, function (i, stato) {
                    items.push("<option value='" + stato.id + "'>" +
                          stato.descrizione + "</option>");
                });


                $("#gestioneStato").html("");

                $("<input/>", { id: "btnAnnullaGestioneStato", type: "button", "data-mini": "true", "data-inline": "true", value: "Annulla", onclick: "h2stato()" }).appendTo("#gestioneStato");
                $("<input/>", { id: "btnSalvaGestioneStato", type: "button", "data-mini": "true", "data-inline": "true", value: "Salva", onclick: "save()" }).appendTo("#gestioneStato");
                $("<select/>", { id: "selectGestioneStato", "data-mini": "true", "data-inline": "true", html: items.join("") }).appendTo("#gestioneStato");
                $("<br/>").appendTo("#gestioneStato");
                $("#btnSalvaGestioneStato").button();
                $("#btnAnnullaGestioneStato").button();

                $("#selectGestioneStato").selectmenu().addClass("selectModificaStato");
            })
    };
    function save() {
        var statoSelezionato = $("#selectGestioneStato").val();
        if (statoSelezionato == "") {
            displayError("selezionare lo stato di destinazione");
            return;
        }
        $.post("/stato/update",
           { codiceStato: statoSelezionato, codiceEntita: "@Model.id", entita: "SEGNALAZIONE" })
          .done(function (jsonResponse) { h2stato(jsonResponse); displayMessage("aggiornamento avvenuto con successo") });
    }


    function h2stato(descrizioneStato) {

        var descrizione = "";

        if (descrizioneStato != null) {
            descrizione = "stato " + descrizioneStato;
        }
        $("#gestioneStato").html("");

        $("<h2/>", {
            style: "text-align:right;display:block;width:100%",
            id: "labelStato",
            html: descrizione
        }).appendTo("#gestioneStato");

        $("#labelStato").mouseenter(function () {
            statoFocusOn = true;
            setTimeout(function () { valorizzaStatiDisponibili() }, 1000)
        });

        $("#labelStato").mouseleave(statoFocusOn = false);
        statoFocusOn = false;
    }


</script>

<script>
    $(document).ready(function () {
        $("#btnScrollToPreventivo").click(function () {

            $('html, body').animate({
                scrollTop: $("#preventivi").offset().top
            }, 500);
        });
    });
</script>


@section Scripts {
    @Scripts.Render("~/Scripts/Segnalazioni/Create.js")
}


<input type="hidden" value="@Model.stato.id" id="codiceStatoCorrente" />
<input type="hidden" value="@Model.stato.descrizione" id="descrizioneStatoCorrente" />

<div id="gestioneOperazioni"></div>

<h1>Dettaglio segnalazione: @Model.contatto.nome  @Model.contatto.cognome</h1>
<div id="gestioneStato">
</div>


@{Html.RenderPartial("~/Views/Contatto/_Contatto.cshtml", Model);}




<h3>
    Importi  @Html.Raw(editHelperSegnalazione.getButtonModifica())
    @Html.Raw(editHelperSegnalazione.getButtonSalvaModifica())
    @Html.Raw(editHelperSegnalazione.getButtonAnnullaModifica())
    <script>$("#segnbtnEdit" + "@Model.id").show();</script>

</h3>
<hr />
@Html.Raw(editHelperSegnalazione.getStartForm("/GestioneSegnalazioni/Edit"))
<div id="@edSegnalazione.getIdFullDetail()">
    @Html.Partial("SegnalazionePartialDetail", Model)
</div>
@Html.Raw(editHelperSegnalazione.getEndForm())


<!-- preventivo -->
@{Html.RenderAction("DetailsFromSegnalazione", "Preventivo", new { segnalazioneId = Model.id });}
<!-- /preventivo -->

<!-- impiego -->
@{Html.RenderAction("Details", "Impiego", new { contattoId = Model.contatto.id });}
<!-- /impiego -->

<!-- riferimento -->
@{Html.RenderAction("Details", "Riferimento", new { contattoId = Model.contatto.id });}
<!-- /riferimento -->

<!-- documenti -->
@{Html.RenderAction("DetailsFromSegnalazione", "Documentale", new { segnalazioneId = Model.id });}
<!-- /documenti -->


@{Html.RenderPartial("~/Views/Nota/_Note.cshtml", new mediatori.Models.NoteModel() { note = Model.note, segnalazioneId = Model.id });}




<div data-role="footer" data-position="fixed" data-theme="c">
    <div data-role="navbar">
        <ul>
            <li><a href="@Url.Action("Index", "Segnalazioni")" class="ui-btn-inline ui-btn ui-corner-all ui-mini">Torna alla lista delle segnalazioni</a></li>
        </ul>
    </div>
</div>




<div data-role="popup" id="popupDialog" data-overlay-theme="b" data-theme="b" data-dismissible="false" style="max-width:400px;">
    <div data-role="header" data-theme="a">
        <h1>Confermare il preventivo?</h1>
    </div>
    <div role="main" class="ui-content">
        <h3 class="ui-title">Siete siscuri di voler confermare il preventivo?</h3>
        <p>Questa operazione è irreversibile. La segnalazione viene promossa a pratica.</p>
        <a href="javascript:popupDialogCancel();" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-btn-b ui-mini">Annulla</a>
        <a href="javascript:popupDialogConfirm();" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-btn-b ui-mini" data-transition="flow">Conferma</a>
    </div>
</div>