@model mediatori.Models.SegnalazioneDetailsModel
@{
    ViewBag.Title = Model.segnalazione.contatto.nome + " " + Model.segnalazione.contatto.cognome;

    Layout = "~/Views/Shared/_LayoutMobile.cshtml";


    mediatori.helper.FireAntEditHelper editHelperSegnalazione = new mediatori.helper.FireAntEditHelper("segn", "/Segnalazioni/segnalazionePartialById", Model.segnalazione.contatto.id.ToString());
    var edSegnalazione = new mediatori.helper.FireAntDetailEventDetection("segn", Model.segnalazione.id);

    mediatori.helper.FireAntEditHelper editHelperPreventivo = new mediatori.helper.FireAntEditHelper("prv", "/Preventivo/preventivoPartialById", Model.segnalazione.contatto.id.ToString());
    var edPreventivo = new mediatori.helper.FireAntDetailEventDetection("prv", Model.segnalazione.id);

    ////verifico se la segnalazione è ha un preventivo confermato
    //ViewBag.confermata = false;
    //foreach (mediatori.Models.Preventivo p in Model.preventivi)
    //{
    //    if (p.dataConferma != null)
    //    {
    //        ViewBag.confermata = true;
    //    }
    //}
}
<script type="text/javascript">
    var codicePreventivo = null;

    function selezionaPreventivo(id) {
        //alert("confermaPreventivo: " + id);
        codicePreventivo = id;
        $("#popupDialog").popup("open");
    }

    function popupDialogConfirm() {
        //alert("popupDialogConfirm");
        $("#popupDialog").popup("close");

        if (codicePreventivo != null) {
            $.getJSON("@Url.Action("Conferma", "Preventivo")", { id: codicePreventivo }, function (response) {
                //alert(response.messaggio);
                if (response.esito == 1) {
                    window.location.href = "@Url.Action("Details", "Pratiche")/" + response.referenceId;
                }
                else {
                    //FAILED
                    //alert(response.messaggio);
                    showMyPopUpError(response.messaggio);
                }
                codicePreventivo = null;
            });
        }
    }


    function popupDialogCancel() {
        //alert("popupDialogCancel");
        $("#popupDialog").popup("close");
        codicePreventivo = null;
    }


</script>


<input type="hidden" value="@Model.segnalazione.stato.id" id="codiceStatoCorrente" />
<input type="hidden" value="@Model.segnalazione.stato.descrizione" id="descrizioneStatoCorrente" />

<div id="gestioneOperazioni"></div>

<h1>Dettaglio segnalazione: @Model.segnalazione.contatto.nome  @Model.segnalazione.contatto.cognome</h1>


<div data-role="navbar" data-iconpos="right">
    <ul>
        <li><a href="#popupChangeStato" class="ui-btn-active ui-btn-icon-right ui-icon-gear" data-rel="popup" data-position-to="window" data-transition="pop">Stato corrente: @Model.segnalazione.stato.descrizione</a></li>
    </ul>
</div>

<div id="gestioneStato"></div>


@{Html.RenderPartial("~/Views/Contatto/_Contatto.cshtml", Model.segnalazione);}


<h3>
    Importi  @Html.Raw(editHelperSegnalazione.getButtonModifica())
    @Html.Raw(editHelperSegnalazione.getButtonSalvaModifica())
    @Html.Raw(editHelperSegnalazione.getButtonAnnullaModifica())
    <script>$("#segnbtnEdit" + "@Model.segnalazione.id").show();</script>
</h3>
<hr />
@Html.Raw(editHelperSegnalazione.getStartForm("/GestioneSegnalazioni/Edit"))
<div id="@edSegnalazione.getIdFullDetail()">
    @Html.Partial("SegnalazionePartialDetail", Model.segnalazione)
</div>
@Html.Raw(editHelperSegnalazione.getEndForm())


<!-- preventivo -->
@{Html.RenderAction("DetailsFromSegnalazione", "Preventivo", new { segnalazioneId = Model.segnalazione.id });}
<!-- /preventivo -->
<!-- impiego -->
@{Html.RenderAction("Details", "Impiego", new { contattoId = Model.segnalazione.contatto.id });}
<!-- /impiego -->
<!-- riferimento -->
@{Html.RenderAction("Details", "Riferimento", new { contattoId = Model.segnalazione.contatto.id });}
<!-- /riferimento -->
<!-- documenti -->
@{Html.RenderAction("DetailsFromSegnalazione", "Documentale", new { segnalazioneId = Model.segnalazione.id });}
<!-- /documenti -->
@{Html.RenderPartial("~/Views/Nota/_Note.cshtml", new mediatori.Models.NoteModel() { note = Model.segnalazione.note, segnalazioneId = Model.segnalazione.id });}



<div data-role="footer" data-position="fixed" data-theme="c">
    <div data-role="navbar">
        <ul>
            <li><a href="@Url.Action("Index", "Segnalazioni")" class="ui-btn-inline ui-btn ui-corner-all ui-mini">Torna alla lista delle segnalazioni</a></li>
        </ul>
    </div>
</div>




<div data-role="popup" id="popupDialog" data-overlay-theme="b" data-theme="b" data-dismissible="false" style="max-width:400px;">
    <div data-role="header" data-theme="a">
        <h1>Confermare il preventivo?</h1>
    </div>
    <div role="main" class="ui-content">
        <h3 class="ui-title">Siete siscuri di voler confermare il preventivo?</h3>
        <p>Questa operazione è irreversibile. La segnalazione viene promossa a pratica.</p>
        <a href="javascript:popupDialogCancel();" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-btn-b ui-mini">Annulla</a>
        <a href="javascript:popupDialogConfirm();" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-btn-b ui-mini" data-transition="flow">Conferma</a>
    </div>
</div>





<div data-role="popup" id="popupChangeStato" data-overlay-theme="b" data-theme="b" data-dismissible="false" style="max-width:400px;">
    <div data-role="header" data-theme="a">
        <h1>Stato successivo</h1>
    </div>
    <div role="main" class="ui-content">
        <h3 class="ui-title">Selezionare lo stato successivo</h3>

        @using (Html.BeginForm("Update", "Stato", FormMethod.Post, null))
        {
            <input type="hidden" name="codiceEntita" value="@Model.segnalazione.id">
            <input type="hidden" name="entita" value="@mediatori.Models.etc.EnumEntitaAssociataStato.SEGNALAZIONE.ToString()" />
            
            <div class="ui-field-contain">
                <label for="codiceStato">Stato successivo:</label>
                <select name="codiceStato" id="codiceStato" data-mini="true" required="required">
                    <option value="" selected="selected">---</option>
                    @foreach (mediatori.Models.etc.Stato s in Model.listaStatiSuccessivi)
                    {
                        <option value="@s.id" >@s.descrizione</option>
                    }
                </select>
            </div>

            <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-btn-b ui-mini">Annulla</a>
            <input type="submit" value="Conferma" data-inline="true" data-mini="true" />
        }
    </div>
</div>
