@model mediatori.Models.SegnalazioneDetailsModel
@{
    ViewBag.Title = Model.segnalazione.contatto.nome + " " + Model.segnalazione.contatto.cognome;

    Layout = "~/Views/Shared/_LayoutMobile.cshtml";

    mediatori.helper.FireAntEditHelper editHelperSegnalazione = new mediatori.helper.FireAntEditHelper("Sgn", Url.Action("SegnalazionePartialById", "Segnalazioni"), Model.segnalazione.id.ToString());
    mediatori.helper.FireAntDetailEventDetection edSegnalazione = new mediatori.helper.FireAntDetailEventDetection("Sgn", Model.segnalazione.id);

 }

<script type="text/javascript">
    var codicePreventivo = null;

    function selezionaPreventivo(id) {
        //alert("confermaPreventivo: " + id);
        codicePreventivo = id;
        $("#popupDialog").popup("open");
    }

    function popupDialogConfirm() {
        //alert("popupDialogConfirm");
        $("#popupDialog").popup("close");

        if (codicePreventivo != null) {
            $.getJSON("@Url.Action("Conferma", "Preventivo")", { id: codicePreventivo }, function (response) {
                //alert(response.messaggio);
                if (response.esito == 1) {
                    window.location.href = "@Url.Action("Details", "Pratiche")/" + response.referenceId;
                }
                else {
                    //FAILED
                    //alert(response.messaggio);
                    showMyPopUpError(response.messaggio);
                }
                codicePreventivo = null;
            });
        }
    }


    function popupDialogCancel() {
        //alert("popupDialogCancel");
        $("#popupDialog").popup("close");
        codicePreventivo = null;
    }



    $(document).on("pageinit", function () {

        $("#linkNuovoIndirizzo").click(function () {
            setComboProvinciaComune();
            $("#divNuovoIndirizzo").show();
        })

    });
</script>


<input type="hidden" value="@Model.segnalazione.stato.id" id="codiceStatoCorrente" />
<input type="hidden" value="@Model.segnalazione.stato.descrizione" id="descrizioneStatoCorrente" />

<div id="gestioneOperazioni"></div>

<h1>Dettaglio segnalazione: @Model.segnalazione.contatto.nome  @Model.segnalazione.contatto.cognome</h1>


<div data-role="navbar" data-iconpos="right" data-theme="b">
    <ul>
        <li><a href="#popupChangeStato" class="ui-btn-active ui-btn-icon-right ui-icon-gear" data-rel="popup" data-position-to="window" data-transition="pop">Stato corrente: @Model.segnalazione.stato.descrizione</a></li>
    </ul>
</div>


@{Html.RenderAction("DetailsV2", "Contatto", new { id = Model.segnalazione.contattoId, isCedente = false });}




<h3>Importi  @Html.Raw(editHelperSegnalazione.getButtonModifica()) @Html.Raw(editHelperSegnalazione.getButtonAnnullaModifica())</h3>
<hr />
<div id="@edSegnalazione.getIdFullDetail()">
    @{Html.RenderPartial("~/Views/Segnalazioni/SegnalazionePartialDetail.cshtml", Model.segnalazione);}
</div>



<!-- preventivo -->
@{Html.RenderAction("DetailsFromSegnalazione", "Preventivo", new { segnalazioneId = Model.segnalazione.id });}
<!-- /preventivo -->
<!-- impiego -->
@{Html.RenderAction("Details", "Impiego", new { contattoId = Model.segnalazione.contatto.id });}
<!-- /impiego -->
<!-- riferimento -->
@{Html.RenderAction("Details", "Riferimento", new { contattoId = Model.segnalazione.contatto.id });}
<!-- /riferimento -->
<!-- documenti -->
@{Html.RenderAction("DetailsFromSegnalazione", "Documentale", new { segnalazioneId = Model.segnalazione.id });}
<!-- /documenti -->
@{Html.RenderPartial("~/Views/Nota/_Note.cshtml", new mediatori.Models.NoteModel() { note = Model.segnalazione.note, segnalazioneId = Model.segnalazione.id });}



<div data-role="footer" data-position="fixed" data-theme="b">
    <div data-role="navbar">
        <ul>
            <li><a href="@Url.Action("Index", "Segnalazioni")" class="ui-btn-inline ui-btn ui-corner-all ui-mini">Torna alla lista delle segnalazioni</a></li>
        </ul>
    </div>
</div>



<div data-role="popup" id="popupDialog" data-overlay-theme="b" data-theme="a" data-dismissible="false" style="max-width:400px;">
    <div data-role="header" data-theme="a">
        <h1>Confermare il preventivo?</h1>
    </div>
    <div role="main" class="ui-content">
        <h3 class="ui-title">Siete siscuri di voler confermare il preventivo?</h3>
        <p>Questa operazione è irreversibile. La segnalazione viene promossa a pratica.</p>
        <a href="javascript:popupDialogCancel();" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-btn-b ui-mini">Annulla</a>
        <a href="javascript:popupDialogConfirm();" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-btn-b ui-mini" data-transition="flow">Conferma</a>
    </div>
</div>



@{Html.RenderPartial("~/Views/Segnalazioni/_PopupChangeStatus.cshtml", Model.listaStatiSuccessivi, new ViewDataDictionary { { "CodiceEntita", Model.segnalazione.id }, { "Entita", mediatori.Models.etc.EnumEntitaAssociataStato.SEGNALAZIONE } });}

