@model mediatori.Models.Anagrafiche.Segnalazione
@{
    Layout = null;
}

@Html.HiddenFor(m => m.id)

<div class="editor-control">
    @Html.MyInputType(m => m.importoRichiesto)
</div>

<div class="editor-control">
    @Html.MyInputType(m => m.durataRichiesta)
</div>
<div class="editor-control">
    @Html.MyInputType(m => m.rataRichiesta)
</div>

<div class="editor-control">
    <div class="editor-row">
        <div class="editor-label">
            @Html.MyLabelFor(m => m.altroPrestito)
        </div>
        <div class="editor-value">
            @Html.DropDownListFor(m => m.altroPrestito.id, (IEnumerable<SelectListItem>)ViewBag.listaTipoPrestito, "", new { data_mini = "true" })
        </div>
    </div>
    <div class="editor-validation">
        @Html.ValidationMessageFor(m => m.altroPrestito)
    </div>
</div>

<div class="editor-control">
    <div class="editor-row">
        <div class="editor-label">
            @Html.MyLabelFor(m => m.prodottoRichiesto)
        </div>
        <div class="editor-value">
            @Html.DropDownListFor(m => m.prodottoRichiesto.id, (IEnumerable<SelectListItem>)ViewBag.listaProdotti, "", new { data_mini = "true" })
        </div>
    </div>
    <div class="editor-validation">
        @Html.ValidationMessageFor(m => m.prodottoRichiesto)
    </div>
</div>



<h3>Dati Campagna</h3>
<hr />

<div class="editor-control">
    <div class="editor-row">
        <div class="editor-label">
            @Html.MyLabelFor(m => m.fontePubblicitaria)
        </div>
        <div class="editor-value">
            @Html.DropDownListFor(m => m.fontePubblicitaria.id, (IEnumerable<SelectListItem>)ViewBag.listaFontePubblicitaria, "", new { data_mini = "true" })
        </div>
    </div>
    <div class="editor-validation">
        @Html.ValidationMessageFor(m => m.fontePubblicitaria)
    </div>
</div>

<div class="editor-control">
    <div class="editor-row">
        <div class="editor-label">
            @Html.MyLabelFor(m => m.canaleAcquisizione)
        </div>
        <div class="editor-value">
            @Html.DropDownListFor(m => m.canaleAcquisizione.id, (IEnumerable<SelectListItem>)ViewBag.listaTipoCanaleAcquisizione, "", new { data_mini = "true" })
        </div>
    </div>
    <div class="editor-validation">
        @Html.ValidationMessageFor(m => m.canaleAcquisizione)
    </div>
</div>

<div class="editor-control">
    <div class="editor-row">
        <div class="editor-label">
            @Html.MyLabelFor(m => m.tipoLuogoRitrovo)
        </div>
        <div class="editor-value">
            @Html.DropDownListFor(m => m.tipoLuogoRitrovo.id, (IEnumerable<SelectListItem>)ViewBag.listaTipoLuogoRitrovo, "", new { data_mini = "true" })
        </div>
    </div>
    <div class="editor-validation">
        @Html.ValidationMessageFor(m => m.tipoLuogoRitrovo)
    </div>
</div>

<div class="editor-control">
    <div class="editor-row">
        <div class="editor-label">
            @Html.MyLabelFor(m => m.tipoContatto)
        </div>
        <div class="editor-value">
            @Html.DropDownListFor(m => m.tipoContatto.id, (IEnumerable<SelectListItem>)ViewBag.listaTipoContatto, "", new { data_mini = "true" })
        </div>
    </div>
    <div class="editor-validation">
        @Html.ValidationMessageFor(m => m.tipoContatto)
    </div>
</div>