@model mediatori.Models.Anagrafiche.Segnalazione
@{
    Layout = null;

}

<div class="display-control">
    @Html.LabelFor(model => model.importoRichiesto)
    <div>@Html.DisplayFor(model => model.importoRichiesto)</div>
</div>
<div class="display-control">
    @Html.LabelFor(model => model.durataRichiesta)
    <div>@Html.DisplayFor(m => m.durataRichiesta)</div>
</div>
<div class="display-control">
    @Html.LabelFor(m => m.rataRichiesta)
    <div>@Html.DisplayFor(m => m.rataRichiesta)</div>
</div>
<div class="display-control">
    @Html.LabelFor(m => m.altroPrestito)
    <div>@Html.DisplayFor(m => m.altroPrestito.descrizione)</div>
</div>
<div class="display-control">
    @Html.LabelFor(m => m.prodottoRichiesto)
    <div>@Html.DisplayFor(m => m.prodottoRichiesto.descrizione)</div>
</div>

<h3>Dati Campagna</h3>
<hr />
<div class="display-control">
    @Html.LabelFor(model => model.fontePubblicitaria)
    <div>@Html.DisplayFor(m => m.fontePubblicitaria.descrizione)</div>
</div>
<div class="display-control">
    @Html.LabelFor(model => model.canaleAcquisizione)
    <div>@Html.DisplayFor(m => m.canaleAcquisizione.descrizione)</div>

</div>
<div class="display-control">
    @Html.LabelFor(model => model.tipoLuogoRitrovo)
    <div>@Html.DisplayFor(m => m.tipoLuogoRitrovo.descrizione)</div>
</div>
<div class="display-control">
    @Html.LabelFor(model => model.tipoContatto)
    <div>@Html.DisplayFor(m => m.tipoContatto.descrizione)</div>
</div>
