@model mediatori.Models.Nota
@{
    Layout = null;
}

<div>
    <div class="display-control">
        @Html.LabelFor(n => n.dataInserimento)
        <div>@Html.DisplayFor(n => n.dataInserimento)</div>
    </div>
    <div class="display-control">
        @Html.LabelFor(n => n.operatoreInserimento)
        <div>@Html.DisplayFor(n => n.operatoreInserimento)</div>
    </div>
    <div class="display-control">
        @Html.LabelFor(m => m.valore)
        <div>@Html.DisplayFor(m => m.valore)</div>
    </div>
</div>








