@model mediatori.Models.Anagrafiche.Indirizzo
@{
    Layout = null;

    string comuneId;
    string provinciaId;

    comuneId = "indirizzo_comune-" + Model.id;
    provinciaId = "indirizzo_provincia-" + Model.id;

    ViewData.TemplateInfo.HtmlFieldPrefix = "indirizzo";
}


@if (Model.id == 0)
{
    <script type="text/javascript">
        $(document).on("pageinit", function () {
            //alert("pageInit");
            initIndirizzoPartialEdit();
        });
    </script>
}

<script type="text/javascript">
    function initIndirizzoPartialEdit() {
        //alert("initIndirizzoPartialEdit");
        //COMBO PROVINCA E COMUNE
        var idProvincia = "@provinciaId";
        var idComune = "@comuneId";

        //            alert("Provincia ID: " + idProvincia);
        var elementExists = document.getElementById(idProvincia);
        if (elementExists) {
            $("#" + idProvincia).change(function () {
                popolaComboComuni(idProvincia, idComune);
            });
        }


        //alert("checkboxradio");
        @if (Model.corrispondenza)
        {
            @:$("#indirizzo_corrispondenza").prop("checked", true).checkboxradio("refresh");
        }
        else
        {
            @:$("#indirizzo_corrispondenza").prop("checked", false).checkboxradio("refresh");
        }

    }
</script>


@Html.HiddenFor(m => m.id)

<div class="editor-control">
    <div class="editor-row">
        <div class="editor-label">
            @Html.MyLabelFor(m => m.tipoIndirizzo)
        </div>
        <div class="editor-value">
            @Html.DropDownListFor(m => m.tipoIndirizzo.id, (IEnumerable<SelectListItem>)ViewBag.listaTipoIndirizzo, "", new { data_mini = "true" })
        </div>
    </div>
    <div class="editor-validation">
        @Html.ValidationMessageFor(m => m.tipoIndirizzo.id)
    </div>
</div>

<div class="editor-control">
    @Html.MyInputType(p => p.presso)
</div>

<div class="editor-control">
    <div class="editor-row">
        <div class="editor-label">
            @Html.MyLabelFor(m => m.toponimo)
        </div>
        <div class="editor-value">
            @Html.DropDownListFor(m => m.toponimo.sigla, (IEnumerable<SelectListItem>)ViewBag.listaToponimo, "", new { data_mini = "true" })
        </div>
    </div>
    <div class="editor-validation">
        @Html.ValidationMessageFor(m => m.toponimo.sigla)
    </div>
</div>

<div class="editor-control">
    @Html.MyInputType(p => p.recapito)
</div>

<div class="editor-control">
    @Html.MyInputType(p => p.numeroCivico)
</div>

<div class="editor-control">
    @Html.MyInputType(p => p.interno)
</div>

<div class="editor-control">
    @Html.MyInputType(p => p.cap)
</div>

<div class="editor-control">
    <div class="editor-row">
        <div class="editor-label">
            <label for="@provinciaId">Provincia</label>
        </div>
        <div class="editor-value">
            <select name="indirizzo.provincia.denominazione" id="@provinciaId" required data-mini="true">
                <option value="">---</option>
                @foreach (SelectListItem item in ViewBag.listaProvincia)
                {
                    <option value="@item.Value" @(item.Selected ? "selected=selected" : "")>@item.Text</option>
                }
            </select>
        </div>
    </div>
    <div class="editor-validation">
        @Html.ValidationMessageFor(m => m.provincia.denominazione)
    </div>
</div>

<div class="editor-control">
    <div class="editor-row">
        <div class="editor-label">
            <label for="@comuneId">Comune</label>
        </div>
        <div class="editor-value">
            <select name="indirizzo.comune.denominazione" id="@comuneId" required data-mini="true">
                <option value="">---</option>
                @foreach (SelectListItem item in ViewBag.listaComuni)
                {
                    <option value="@item.Value" @(item.Selected ? "selected=selected" : "")>@item.Text</option>
                }
            </select>
        </div>
    </div>
    <div class="editor-validation">
        @Html.ValidationMessageFor(m => m.comune.denominazione)
    </div>
</div>



<div class="editor-control">
    <div data-role="controlgrup" data-type="horizontal">
        @MyJQueryMobile.MyCheckBox("indirizzo.corrispondenza", Model.corrispondenza, "Corrispondenza")
    </div>
</div>
