@model mediatori.Models.Anagrafiche.Indirizzo
@{
    Layout = null;
}

@Html.HiddenFor(m => m.id)
<div class="editor-control">
    <div class="editor-row">
        <div class="editor-label">
            @Html.MyLabelFor(m => m.tipoIndirizzo)
        </div>
        <div class="editor-value">
            @Html.DropDownListFor(m => m.tipoIndirizzo.id, (IEnumerable<SelectListItem>)ViewBag.listaTipoIndirizzo, "", new { data_mini = "true" })
        </div>
    </div>
    <div class="editor-validation">
        @Html.ValidationMessageFor(m => m.tipoIndirizzo.id)
    </div>
</div>

<div class="editor-control">
    @Html.MyInputType(p => p.presso)
</div>

<div class="editor-control">
    <div class="editor-row">
        <div class="editor-label">
            @Html.MyLabelFor(m => m.toponimo)
        </div>
        <div class="editor-value">
            @Html.DropDownListFor(m => m.toponimo.sigla, (IEnumerable<SelectListItem>)ViewBag.listaToponimo, "", new { data_mini = "true" })
        </div>
    </div>
    <div class="editor-validation">
        @Html.ValidationMessageFor(m => m.toponimo.sigla)
    </div>
</div>

<div class="editor-control">
    @Html.MyInputType(p => p.recapito)
</div>

<div class="editor-control">
    @Html.MyInputType(p => p.numeroCivico)
</div>

<div class="editor-control">
    @Html.MyInputType(p => p.interno)
</div>

<div class="editor-control">
    @Html.MyInputType(p => p.cap)
</div>

<div class="editor-control">
    @Html.LabelFor(m => m.corrispondenza)
    @MyHelper.MyCheckBox("corrispondenza", Model.corrispondenza, "")
</div>



<div class="editor-control">
    <div class="editor-row">
        <div class="editor-label">
            @Html.MyLabelFor(m => m.provincia)
        </div>
        <div class="editor-value">
            @Html.DropDownListFor(m => m.provincia.denominazione, (IEnumerable<SelectListItem>)ViewBag.listaProvincia, "", new { data_mini = "true" })
        </div>
    </div>
    <div class="editor-validation">
        @Html.ValidationMessageFor(m => m.provincia.denominazione)
    </div>
</div>

<div class="editor-control">
    <div class="editor-row">
        <div class="editor-label">
            @Html.MyLabelFor(m => m.comune)
        </div>
        <div class="editor-value">
            @Html.DropDownListFor(m => m.comune.denominazione, (IEnumerable<SelectListItem>)ViewBag.listaComuni, "Selezionare una provincia ...", new { data_mini = "true" })
        </div>
    </div>
    <div class="editor-validation">
        @Html.ValidationMessageFor(m => m.comune.denominazione)
    </div>
</div>


<script type="text/javascript">

    $(document).on("pageinit", function () {

        idProvincia = "indirizzo_provincia_denominazione";
        idComune = "indirizzo_comune_denominazione";

        //alert("idProvincia" + idProvincia);

        $("#" + idProvincia).change(function () {
            popolaComboComuni(idProvincia, idComune);
        });


    });


   // $(document).on("pageinit", function () {




        //$('select[id$="provincia_denominazione"]').each(function () {



        //    codice = this.name.split('[')[1].split(']')[0];

        //    //            alert(codice);

        //    idProvincia = "indirizzi_" + codice + "__provincia_denominazione";
        //    idComune = "indirizzi_" + codice + "__comune_denominazione";

        //    //          alert("idProvincia" + idProvincia);

        //    $("#" + idProvincia).change(function () {
        //        popolaComboComuni(idProvincia, idComune);
        //    })
        //})



    //});
</script>