@model mediatori.Models.Anagrafiche.AgenziaCreateModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}

<h2>Nuova Agenzia</h2>

@using (Html.BeginForm("Create", "Agenzia", FormMethod.Post, new { @id = "createForm" }))
{
    Html.ValidationSummary(true);

    @Html.HiddenFor(model => model.agenzia.id);

    <h3>Dati Agenzia</h3>
    <hr />
    @Html.EditorFor(model => model.soggettoGiuridico);
    
    @Html.EditorFor(a => a.agenzia);

    <h3>Indirizzi</h3>
    <hr />
    { Html.RenderAction("Create", "Indirizzo", new { indirizzo = Model.indirizzo }); }

    <h3>Riferimenti</h3>
    <hr />
    { Html.RenderAction("Create", "Riferimento", new { riferimento = Model.riferimento }); }
    
    <h3>Note</h3>
    <hr />
    { Html.RenderAction("Create", "Nota", new { nota = Model.nota }); }


    <div data-role="footer" data-position="fixed" data-theme="@MyConstants.FIXED_FOOTER_THEME">
        <div data-role="navbar">
            <ul>
                <li><a href="@Url.Action("Index")" class="ui-btn-inline ui-btn ui-corner-all ui-mini">Annulla</a></li>
                <li><input type="submit" value="Salva" data-inline="true" data-mini="true" /></li>
            </ul>
        </div>
    </div>
}
