@model mediatori.Models.Anagrafiche.Agenzia
@{

    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
    
    mediatori.helper.FireAntDetailEventDetection faDetailEventDetection = new mediatori.helper.FireAntDetailEventDetection("Age", Model.id);
    mediatori.helper.FireAntEditHelper editHelper = new mediatori.helper.FireAntEditHelper("Age", Url.Action("AgenziaPartialById", "Agenzia"), Model.id.ToString());
}
<h1>Agenzia</h1>

<h3>Dettaglio @Html.Raw(editHelper.getButtonModifica()) @Html.Raw(editHelper.getButtonAnnullaModifica())</h3>
<hr />
<br />

<div id="@Html.Raw(faDetailEventDetection.getIdFullDetail())">
    @{Html.RenderPartial("~/Views/Agenzia/AgenziaPartialDetail.cshtml", Model);}
</div>

@{Html.RenderAction("SoggettoGiuridico", "Indirizzo", new { soggettoGiuridicoId = Model.soggettoGiuridico.id });}

@{Html.RenderAction("SoggettoGiuridico", "Riferimento", new { soggettoGiuridicoId = Model.soggettoGiuridico.id });}

@{Html.RenderPartial("~/Views/Nota/_Note.cshtml", new mediatori.Models.NoteModel() { note = Model.soggettoGiuridico.note, soggettoGiuridicoId = Model.soggettoGiuridico.id });}


<br />
<div data-role="footer" data-position="fixed" data-theme="@MyConstants.FIXED_FOOTER_THEME">
    <div data-role="navbar">
        <ul>
            <li><a href="@Url.Action("Index", "Agenzia")" class="ui-btn-inline ui-btn ui-corner-all ui-mini">Torna alla lista delle agenzie</a></li>
        </ul>
    </div>
</div>