@model mediatori.Models.Anagrafiche.Agenzia
@{

    Layout = "~/Views/Shared/_LayoutMobile.cshtml";

    mediatori.helper.FireAntEditHelper editHelperAgenzia = new mediatori.helper.FireAntEditHelper("age", "/Amministrazione/AmministrazionePartialById", Model.id.ToString());
    mediatori.helper.FireAntDetailEventDetection edAgenzia = new mediatori.helper.FireAntDetailEventDetection("age", Model.id);
}

<h3>Dettaglio agenzia    @Html.Raw(editHelperAgenzia.getSimpleCrudButtons())</h3>
<hr />


<br />

@Html.Raw(editHelperAgenzia.getStartForm("/Agenzia/Edit"))
<div id="@Html.Raw(edAgenzia.getIdFullDetail())">
    @Html.Partial("AgenziaPartialDetail", Model)
</div>@Html.Raw(editHelperAgenzia.getEndForm())
@{
    Html.RenderAction("SoggettoGiuridicoDetail", "SoggettoGiuridico", new { soggettoGiuridico = Model.soggettoGiuridico, tipoAzione = "VISUALIZZAZIONE" });
}


<div data-role="footer" data-position="fixed" data-theme="c">
    <div data-role="navbar">
        <ul>
            <li><a href="@Url.Action("Index", "Agenzia")" class="ui-btn-inline ui-btn ui-corner-all ui-mini">Torna alla lista delle agenzie</a></li>
        </ul>
    </div>
</div>