@model IList<mediatori.Models.Anagrafiche.Agenzia>
@{
    ViewBag.Title = "IndexV2";
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";

    WebGrid wGrid = new WebGrid(Model, rowsPerPage: 10, canPage: true);
   
}

<h2>Lista agenzie</h2>

<a href="@Url.Action("CreateV2", "Agenzia")" class="ui-btn ui-corner-all ui-shadow ui-mini ui-btn-inline ui-icon-plus ui-btn-icon-left">Crea una nuova agenzia</a>
<div id="message">@ViewBag.message</div>

@using (Html.BeginForm("IndexV2", "Agenzia", FormMethod.Get, null))
{

    <div class="ui-field-contain">
        <label>Ragione Sociale</label>
        @Html.TextBox("ragioneSociale")
    </div>

    <div class="ui-field-contain">
        <label>Codice Fiscale</label>
        @Html.TextBox("partitaIva")
    </div>
    
    <div data-role="controlgrup" data-type="horizontal">
        <input type="submit" data-inline="true" value="Ricerca" data-icon="search" data-mini="true" />
    </div>
    
    
    if (Model.Count == 0)
    {
    <h3>Non è stata trovata nessuna agenzia. Modificare i filtri di ricerca.</h3>
    }
    else
    {
    <div style="margin-top: 20px;">
        @wGrid.GetHtml(
            fillEmptyRows: false,
            tableStyle: "MyTable ui-responsive",
            headerStyle: "ui-bar-c",
            footerStyle: "ui-bar-b",
            rowStyle: "ui-bar-a",
            alternatingRowStyle: "ui-bar-b",
            htmlAttributes: new { data_role = "table", id = "MyWebGrid", data_mode = "reflow" },
            columns: new[]{
                    wGrid.Column (columnName:"SoggettoGiuridico.ragioneSociale", header :"Ragione Sociale")
            })

    </div>
    }
   
}