@model List<mediatori.Models.Anagrafiche.FontePubblicitaria>
@using mediatori.Models
@{
    ViewBag.Title = "Gestione Fonte Pubblicitaria";
}
<h2>Fonte pubblicitaria</h2>
<h3>@ViewBag.errorMessage</h3>
<h3>@ViewBag.message</h3>
@Html.Partial("commonConfigurazioni")
<fieldset>
    <legend>Inserimento nuova fonte pubblicitaria</legend>
@using (Html.BeginForm("fontePubblicitaria", "Configurazioni",FormMethod.Post))
{
 <text>descrizione <input type="text" name="descrizione"/> <input type="submit" value="inserisci" /></text>
}
</fieldset>
<fieldset>
    <legend>Lista fonti pubblicitarie configurate</legend>
    <table>
<tr><td><strong>sigla</strong></td><td></td></tr>
@foreach (mediatori.Models.Anagrafiche.FontePubblicitaria fontePubblicitaria in Model)
{
    <tr>
        <td>@fontePubblicitaria.descrizione</td>
        <td>@Html.ActionLink("Cancella", "cancellaFontePubblicitaria", new {id=fontePubblicitaria.id}, null)</td>
    </tr>
    
}
    </table>
</fieldset>
