@model  mediatori.Models.GruppiLavorazioneModel
@{
    ViewBag.Title = "Gestione Gruppi di lavorazione";

    int conta = 0;
    string css;
}

<h2>Gruppi di lavorazione</h2>
@Html.Partial("commonConfigurazioni")


<script type="text/javascript">

    function edit(id) {
        alert("edit" + id);
        
        $("#popupEdit").popup("open");

    }

    function users(id) {
        alert("users" + id);

        $.getJSON('@Url.Action("AutoCompleteLogin", "Configurazioni")', { value: text }, function (mydata) {

            var str = "";
            for (var i = 0, len = mydata.length; i < len; i++) {
                //str += "<li>" + res[i] + "</li>";
                str += "<input type =\"checkbox\" name=\"myItems\" id=\"myItems[" + i + "]\"  value =\"" + mydata[i].Value + "\">";
                str += "<label for=\"myItems[" + i + "]\">" + mydata[i].Text + "</label>";

            }

            $("#suggestions").html(str);

            $("[type=checkbox]").checkboxradio();
            $("[data-role=controlgroup]").controlgroup("refresh");
        });



        $("#panelUsers").panel("open");

    }
    </script>

<a href="#popupNuovo" data-rel="popup" data-position-to="window" class="ui-btn ui-corner-all ui-shadow ui-mini ui-btn-inline ui-icon-plus ui-btn-icon-left">Nuovo</a>

<fieldset>
    <legend>Lista Gruppi Lavorazione configurati</legend>
    <table class="MyTable">
        <tr class="ui-bar-b">
            <th>Sigla</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        @foreach (mediatori.Models.etc.GruppoLavorazione g in Model.gruppiLavorazione)
        {
            conta++;
            if (conta % 2 == 0)
            {
                css = "ui-bar-d";
            }
            else
            {
                css = "ui-bar-a";
            }
            
            <tr class="@css">
                <td>@g.nome</td>
                <td>
                    <a class="ui-btn-inline ui-btn ui-icon-edit ui-btn-icon-notext ui-corner-all" title="Modifica" href="javascript:edit(@g.id);">Modifica</a>
                </td>
                <td>
                    <a class="ui-btn-inline ui-btn ui-icon-user ui-btn-icon-notext ui-corner-all" title="Utenti" href="javascript:users(@g.id);">Utenti</a>
                </td>
                <td>
                    <a class="ui-btn-inline ui-btn ui-icon-delete ui-btn-icon-notext ui-corner-all" title="Cancella" href="@Url.Action("CancellaGruppoLavorazione", new { id = g.id })">Delete</a>
                </td>
            </tr>
        }
    </table>
</fieldset>




<div data-role="popup" id="popupNuovo" data-overlay-theme="b" data-theme="b" data-dismissible="false" style="min-width:500px">
    <div data-role="header" data-theme="a">
        <h1>Nuovo gruppo di lavorazione</h1>
    </div>
    <div role="main" class="ui-content">
        <p>Dopo aver creato il gruppo clicca su modifica per aggiungere gli utenti.</p>
        @using (Html.BeginForm("GruppoLavorazioneAdd", "Configurazioni", FormMethod.Post, null))
        {
            <div class="ui-field-contain">
                <label for="gruppo_nome">Nome</label>
                <input type="text" name="gruppo.nome" id="gruppo_nome" required />
            </div>

            <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-btn-b ui-mini">Annulla</a>
            <input type="submit" value="Conferma" data-inline="true" data-mini="true" />
        }
    </div>
</div>





<div data-role="popup" id="popupEdit" data-overlay-theme="b" data-theme="b" data-dismissible="false" style="min-width:500px">
    <div data-role="header" data-theme="a">
        <h1>Modifica gruppo di lavorazione</h1>
    </div>
    <div role="main" class="ui-content">
       
        @using (Html.BeginForm("GruppoLavorazioneEdit", "Configurazioni", FormMethod.Post, null))
        {
            <input type="hidden" id="gruppo_id" name="gruppo.id" />

            <div class="ui-field-contain">
                <label for="gruppo_nome">Nome</label>
                <input type="text" name="gruppo.nome" id="gruppo_nome" required />
            </div>
            

            <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-btn-b ui-mini">Annulla</a>
            <input type="submit" value="Conferma" data-inline="true" data-mini="true" />
        }
    </div>
</div>


<div data-role="panel" id="panelUsers" data-position="right" data-display="overlay" data-overlay-theme="b" data-theme="b" data-dismissible="false" >
    <div data-role="header" data-theme="a">
        <h1>Utenti associati al gruppo</h1>
    </div>
    <div role="main" class="ui-content">

        @using (Html.BeginForm("GruppoLavorazioneUsers", "Configurazioni", FormMethod.Post, null))
        {
            <input type="hidden" id="gruppo_id" name="gruppo.id" />

            <div class="ui-field-contain">
                <label for="gruppo_nome">Nome</label>
                <input type="text" name="gruppo.nome" id="gruppo_nome" required />
            </div>


            <a href="#" data-rel="close" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-btn-b ui-mini">Annulla</a>
            <input type="submit" value="Conferma" data-inline="true" data-mini="true" />
        }
    </div>
</div>