@model mediatori.Models.Configurazione.TipoConsensoPrivacyModel
@{
    ViewBag.Title = "TipoConsensoPrivacy";
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
    int conta = 0;
    string css;
}

<script type="text/javascript">
    function editItem(id, descrizione, attivo) {
        $("#popupTitolo").text("Modifica");
        $("#edit_item_id").val(id);
        $("#edit_item_descrizione").val(descrizione);
        $("#edit_item_descrizione").attr('readonly', true);
        if (attivo) {
            $("#attivo").attr('checked' , true);
            $("#attivo").flipswitch("refresh");
        } else {
            $("#attivo").attr('checked' , false);
            $("#attivo").flipswitch("refresh");
        }
        $("#popupItem").popup("open");
    }

    function newItem() {

        $("#popupTitolo").text("Nuovo");
        $("#edit_item_id").val(0);
        $("#edit_item_descrizione").val('');
        $("#edit_item_descrizione").attr('readonly', false);
        $("#popupItem").popup("open");
    }
    function gestioneAttivazione(codicePrivacy, flagAttivo) {
        $("#form" + codicePrivacy).submit();
    }
</script>

<h2>TipoConsensoPrivacy</h2>

<a href="javascript:newItem();" data-rel="popup" data-position-to="window" class="ui-btn ui-corner-all ui-shadow ui-mini ui-btn-inline ui-icon-plus ui-btn-icon-left">Nuovo</a>
@if (Model.listaTipiConsenso != null)
{

    <fieldset>
        <legend>Lista Tipi Consenso Privacy Configurati</legend>

        <table class="MyTable">
            <tr class="ui-bar-b">
                <th>Descrizione</th>
                <th>Attivo</th>
                <th>Modifica</th>
                <th>Cancella</th>
            </tr>

            @foreach (mediatori.Models.Anagrafiche.TipoConsensoPrivacy privacy in Model.listaTipiConsenso)
            {
                conta++;
                if (conta % 2 == 0)
                {
                    css = MyConstants.TABLE_ROW_STYLE;
                }
                else
                {
                    css = MyConstants.TABLE_ALTERNATING_ROW_STYLE;
                }

                <tr class="@css">
                    <td>@privacy.descrizione</td>
                    <td>
                        @if (@privacy.attivo)
                        {
                        <input type="hidden" name="flagAttivo" value="false" />
                        <a class="ui-button ui-button-icon-primary" href="javascript:gestioneAttivazione(@privacy.id, false);">@MyHelper.decodeAttivaImage(Request.ApplicationPath, privacy.attivo)</a>
                        }
                        else
                        {     <input type="hidden" name="flagAttivo" value="true" />
                        <a class="ui-button ui-button-icon-primary" href="javascript:gestioneAttivazione(@privacy.id,true);">@MyHelper.decodeAttivaImage(Request.ApplicationPath, privacy.attivo)</a>
                        }
                    </td>
                    @if (@privacy.isSystem)
                    {
                        <td>
                            &nbsp;
                        </td>
                    }
                    else
                    {
                        <td>
                            <a class="ui-btn-inline ui-btn ui-icon-edit ui-btn-icon-notext ui-corner-all" title="Modifica" href="javascript:editItem(@privacy.id,'@privacy.descrizione.Replace("'","\\'")', @privacy.attivo.ToString().ToLower())">Modifica</a>
                        </td>
                        }
                    @if (@privacy.isSystem)
                    {
                        <td>
                            &nbsp;
                        </td>
                    }
                    else
                    {
                        <td>
                            <a class="ui-btn-inline ui-btn ui-icon-delete ui-btn-icon-notext ui-corner-all" title="Cancella" href="javascript:deleteItem(@privacy.id);" onclick="alert('Operazione non ancora implementata')">Cancella</a>
                        </td>
                    }
                   
                </tr>
            }
        </table>
    </fieldset>
}
@{Html.RenderPartial("_footer");}

<div data-role="popup" id="popupItem" data-overlay-theme="b" data-theme="a" data-dismissible="false" style="min-width:500px">
    <div data-role="header" data-theme="a">
        <h1 id="popupTitolo"></h1>
    </div>
    <div role="main" class="ui-content">
        @using (Html.BeginForm("TipoConsensoPrivacy", "Configurazioni", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <input type="hidden" id="edit_item_id" name="id" value="0" />
            <div class="ui-field-contain">
                <label for="descrizione">Descrizione*</label>
                <input type="text" name="descrizione" required id="edit_item_descrizione"/>
            </div>
            <div class="ui-field-contain">
                @{Html.RenderPartial("_Flipswitch", new mediatori.Models.FlipswitchModel("attivo", true));}

            </div>
            <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-btn-b ui-mini">Annulla</a>
            <input type="submit" value="Conferma" data-inline="true" data-mini="true" />
        }
    </div>
</div>