@model List<mediatori.Models.Anagrafiche.TipoEnteRilascio>
@using mediatori.Models
@{
    ViewBag.Title = "Gestione Tipo Ente Rilascio";
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}

<h2>Tipo Ente Rilascio</h2>
<h3>@ViewBag.errorMessage</h3>
<h3>@ViewBag.message</h3>

@Html.Partial("commonConfigurazioni")

<fieldset style="border: 1px solid lightgray; padding:1em;">
    <legend>Inserimento nuova Tipologia Ente Rilscio</legend>
    @using (Html.BeginForm("tipoEnteRilascio", "Configurazioni", FormMethod.Post))
    {
        <label for="descrizione">Descrizione *</label>
        <input type="text" name="descrizione" id="descrizione" data-inline="true" required value="" />


        <div data-role="controlgrup" data-type="horizontal">
            <input data-mini="true" data-inline="true" type="submit" value="Salva" />
            <a href="@Url.Action("Index","Configurazioni")" class="ui-btn-inline ui-btn ui-corner-all ui-mini">Annulla</a>
        </div>

    }
</fieldset>



<h2>Lista delle tipologie ente rilascio configurate</h2>


<table>
    <tr><td><strong>sigla</strong></td><td></td></tr>
    @foreach (mediatori.Models.Anagrafiche.TipoEnteRilascio TipoEnteRilascio in Model)
    {
        <tr>
            <td>@TipoEnteRilascio.descrizione</td>
            <td>@Html.ActionLink("Cancella", "cancellaTipoEnteRilascio", new { id = TipoEnteRilascio.id }, null)</td>
        </tr>

    }
</table>

