@model List<mediatori.Models.Anagrafiche.TipoCoordinataErogazione>
@using mediatori.Models
@{
    ViewBag.Title = "Gestione Tipologia Erogazione";
}
<h2>Tipo Coordinata Erogazione</h2>
<h3>@ViewBag.errorMessage</h3>
<h3>@ViewBag.message</h3>
@Html.Partial("commonConfigurazioni")
<fieldset>
    <legend>Inserimento Nuovo Tipo Coordinata Erogazione</legend>
    @using (Html.BeginForm("tipoCoordinataErogazione", "Configurazioni", FormMethod.Post))
    {
        <div class="editor-label">
            <label for="coordinata">Sigla</label> <input type="text" name="sigla" />
        </div>
        <div class="editor-label">
            <label for="text">Descrizione</label> <input type="text" name="descrizione" />
            <input type="submit" value="inserisci" />
        </div>
    }
</fieldset>
<fieldset>
    <legend>Lista Cooridnate Erogazioni</legend>
    <table>
        <tr><td><strong>Sigla</strong></td><td><strong>Descrizione</strong></td><td></td></tr>
        @foreach (mediatori.Models.Anagrafiche.TipoCoordinataErogazione tipoCoordinataErogazione in Model)
        {
            <tr>
                <td>@tipoCoordinataErogazione.sigla</td>
                <td>@tipoCoordinataErogazione.descrizione</td>
                @if (tipoCoordinataErogazione.sigla.Equals("ASS") || tipoCoordinataErogazione.sigla.Equals("OBB"))
                {
                    <td>
                        &nbsp;
                    </td>
                }
                else
                {
                    <td>@Html.ActionLink("Cancella", "cancellaTipoCoordinataErogazione", new { sigla = tipoCoordinataErogazione.sigla }, null)</td>
                }
            </tr>
        }
    </table>
</fieldset>
