@model MyManagerCSharp.Log.Models.MyLogDetail
@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/MasterPageAdminMobile.cshtml";

    bool chk;
}

<h2>Details referenceId: @Model.referenceId</h2>
<br />


@if (Model.Logs.Count > 2000)
{
    <h3>Attenzione sono state trovati più di 2.000 records. (@(String.Format("{0:N0}", Model.Logs.Count)))</h3>
    <p>E' un numero di record troppo elevato da poter visualizzare in una pagina.</p>
}
else
{

    using (Html.BeginForm("Details", "Logs", FormMethod.Post, new { id = "MyForm" }))
    {
        <input type="hidden" name="id" value="@Model.referenceId" />
        <div class="ui-field-contain">


            <fieldset data-role="controlgroup" data-type="horizontal">
                <legend>Level:</legend>
                @foreach (var value in Enum.GetValues(typeof(MyManagerCSharp.Log.LogManager.Level)))
                {

                    if ((MyManagerCSharp.Log.LogManager.Level)value == MyManagerCSharp.Log.LogManager.Level.Undefined)
                    {
                        continue;
                    }


                    if (Model.LevelSelected != null && Model.LevelSelected.Contains((MyManagerCSharp.Log.LogManager.Level)value))
                    {
                        chk = true;
                    }
                    else
                    {
                        chk = false;
                    }
                
                    <input name="LevelSelected" id="levelSelected_@value" type="checkbox"  @((chk) ? "checked" : "")    value="@((MyManagerCSharp.Log.LogManager.Level)value)" /> 
                    <label for="levelSelected_@value">@((MyManagerCSharp.Log.LogManager.Level)value)</label>
                }
            </fieldset>
        </div>
    }
    
    <ol data-role="listview" data-inset="true">
        @foreach (MyManagerCSharp.Log.Models.MyLog l in Model.Logs)
        {
            <li   @((l.level == MyManagerCSharp.Log.LogManager.Level.Error || l.level == MyManagerCSharp.Log.LogManager.Level.Exception) ? "data-theme=d" : "") @((l.level == MyManagerCSharp.Log.LogManager.Level.Warning) ? "data-theme=e" : "") >
                <h2>@l.level</h2>
                <p>@l.note</p>
                <p class="ui-li-aside"><strong>@l.dateAdded</strong></p>
            </li>
        }
    </ol>
}

<br />
<br />

<div data-role="controlgrup" data-type="horizontal">
    <a href="@Url.Action("Index", "Logs")" class="ui-btn-inline ui-btn ui-corner-all ui-mini" >Torna alla lista</a>
</div>

<script type="text/javascript">
    $(document).on("pageinit", function () {
        $("[name='LevelSelected']").click(function () {
            $("#MyForm").submit();
        });
    });
</script>
