@model MyManagerCSharp.Log.Models.SearchMyLogs
@{
    ViewBag.Title = "Logs";
    Layout = "~/Areas/Admin/Views/Shared/MasterPageAdminMobile.cshtml";

    WebGrid wGrid = new WebGrid(null, rowsPerPage: Model.PageSize, defaultSort: Model.Sort, canPage: false);
    wGrid.Bind(Model.LogsList, rowCount: Model.TotalRows, autoSortAndPage: false);

    bool chk;    
}
<h2>Logs</h2>

@using (Html.BeginForm("Index", "Logs", FormMethod.Post, new { id = "MyForm" }))
{
    <div class="ui-grid-a">
        <div class="ui-block-a">
            <div class="ui-field-contain">
                <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
                    <legend>Level:</legend>
                    @foreach (var value in Enum.GetValues(typeof(MyManagerCSharp.Log.LogManager.Level)))
                    {

                        if ((MyManagerCSharp.Log.LogManager.Level)value == MyManagerCSharp.Log.LogManager.Level.Undefined)
                        {
                            continue;
                        }
                        //System.Diagnostics.Debug.WriteLine("{0,3}     {1}", (int)value, ((Immobiliare.Models.SearchModel.EnumTipoAnnuncio)value));

                        if (Model.levelSelected.Contains((MyManagerCSharp.Log.LogManager.Level)value))
                        {
                            chk = true;
                        }
                        else
                        {
                            chk = false;
                        }
                
                        <input name="levelSelected" id="levelSelected_@value" type="checkbox"  @((chk) ? "checked" : "")    value="@((MyManagerCSharp.Log.LogManager.Level)value)" /> 
                        <label for="levelSelected_@value">@((MyManagerCSharp.Log.LogManager.Level)value)</label>
                    }
                </fieldset>
            </div>
        </div>



        <div class="ui-block-b">
            <div class="ui-field-contain">
                <label for="Days">Data:</label>
                @{Html.RenderPartial("_ComboData", Model.Days);}
            </div>
        </div>
    </div>
    
    <div class="ui-field-contain">
        <label for="select-my-type" class="select">Type:</label>
        <select name="myTypeSelected" id="select-my-type" multiple="multiple" data-native-menu="false" data-icon="grid" data-mini="true" data-iconpos="left" data-inline="true">
            @foreach (string value in Model.myType)
            {
                if (Model.myTypeSelected != null && Model.myTypeSelected.Contains(value))
                {
                    chk = true;
                }
                else
                {
                    chk = false;
                }
                <option value="@value" @((chk) ? "selected" : "") >@value</option>
            }
        </select>
    </div>
    <div data-role="controlgrup" data-type="horizontal">
       
        <input type="submit" data-inline="true" data-mini="true" value="Cerca" data-icon="search" />
    </div>
    

            if (Model.TotalRows == 0)
            {
    <h3>Non è stato trovato nessuna record. Modificare i filtri di ricerca.</h3>
            }
            else
            {
    <div style="margin-top: 20px;">
        @wGrid.GetHtml(
            fillEmptyRows: false,
            tableStyle: "MyTable ui-responsive",
            headerStyle: "ui-bar-c",
            footerStyle: "ui-bar-b",
            rowStyle: "ui-body-a",
            alternatingRowStyle: "ui-body-b",
            htmlAttributes: new { data_role = "table", id = "MyWebGrid", data_mode = "reflow" },
            columns: new[]{
                wGrid.Column (columnName:"DateAdded", header :"Data", canSort : true),      
                    wGrid.Column ("referenceId","Reference Id", format:(item) =>  (item == null)?"":Html.Raw(String.Format("<a href=\"{0}\">{1}</a>", Url.Action("Details", "Logs", new {id = item.referenceId}), item.referenceId )), canSort:false),
                    wGrid.Column (columnName:"referenceType", header :"referenceType",  canSort:false ),
                    wGrid.Column (columnName:"level", header :"Level",  canSort:false ),
                    wGrid.Column (columnName:"type", header :"Type",  canSort:false ),
                    wGrid.Column (columnName:"note", header :"Note",  canSort:false )
            })

        @{Html.RenderPartial("Paging", Model);}
    </div>
            }


}