@model mediatori.Models.Anagrafiche.ConsensoPrivacy
@{
    Layout = null;
}

<div class="display-control">
    @Html.LabelFor(c => c.tipoConsensoPrivacy.descrizione)
    <div>@Html.DisplayFor(c => c.tipoConsensoPrivacy.descrizione)</div>
</div>
<div class="display-control">
    @Html.LabelFor(c => c.acconsento)
    @if (Model.acconsento)
    {
        <text>SI</text>
    }
    else
    {
        <text>NO</text>
    }
</div>
<div class="display-control">
    @Html.LabelFor(m => m.dataInserimento)
    <div>@Html.DisplayFor(m => m.dataInserimento)</div>
</div>
<div class="display-control">
    @Html.LabelFor(m => m.untenteInserimento)
    <div>@Html.DisplayFor(m => m.untenteInserimento)</div>
</div>







