@model mediatori.Models.Anagrafiche.Agenzia

<div class="editor-label">
    @Html.LabelFor(model => model.partitaIva)
    @Html.EditorFor(model => model.partitaIva)<br />
    @Html.ValidationMessageFor(model => model.partitaIva)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.rea)
    @Html.EditorFor(model => model.rea)<br />
    @Html.ValidationMessageFor(model => model.rea)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.tipoNaturaGiuridica)
    @Html.DropDownListFor(model => model.tipoNaturaGiuridica.id,(IEnumerable<SelectListItem>) ViewBag.listaTipoNaturaGiuridica,"")<br />
    @Html.ValidationMessageFor(model => model.tipoNaturaGiuridica.id)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.stato)
    @Html.DropDownListFor(model => model.stato.id,(IEnumerable<SelectListItem>) ViewBag.listaStati,"")<br />
    @Html.ValidationMessageFor(model => model.stato.id)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.dataInizioMandato)
    @Html.EditorFor(model => model.dataInizioMandato)<br />
    @Html.ValidationMessageFor(model => model.dataInizioMandato)
</div>

<script>
    $("#agenzia_dataInizioMandato").datepicker({
        dateFormat: "yy-mm-dd", changeMonth: true, changeYear: true, yearRange: "2000:2017"
    });
</script>

<div class="editor-label">
    @Html.LabelFor(model => model.dataFineMandato)
    @Html.EditorFor(model => model.dataFineMandato)<br />
    @Html.ValidationMessageFor(model => model.dataFineMandato)
</div>
 <script>
      $("#agenzia_dataFineMandato").datepicker({
          dateFormat: "yy-mm-dd", changeMonth: true, changeYear: true, yearRange: "2014:2040"
      });
</script>

<div class="editor-label">
    @Html.LabelFor(model => model.tipoAgenzia)
    @Html.DropDownListFor(model => model.tipoAgenzia.id,(IEnumerable<SelectListItem>) ViewBag.listaTipoAgenzia,"")<br />
    @Html.ValidationMessageFor(model => model.tipoAgenzia.id)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.codiceRui)
    @Html.EditorFor(model => model.codiceRui)<br />
    @Html.ValidationMessageFor(model => model.codiceRui)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.codiceOam)
    @Html.EditorFor(model => model.codiceOam)<br />
    @Html.ValidationMessageFor(model => model.codiceOam)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.dataOam)
    @Html.EditorFor(model => model.dataOam)<br />
    @Html.ValidationMessageFor(model => model.dataOam)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.documentoPagamento)
    @Html.EditorFor(model => model.documentoPagamento)<br />
    @Html.ValidationMessageFor(model => model.documentoPagamento)
</div>
