@model List<mediatori.Models.MenuElement>
@{
    Layout = null;
    int conta = 1;

    //style="background-color: rgb(@(87 + 10 * conta), @(158 - 0* conta), @(66 + 0 * conta)  );
}

<div class="canvas-flex">
    @foreach (mediatori.Models.MenuElement configurazione in Model)
    {

        <button id="box_@conta" class="ui-btn ui-btn-d ui-corner-all ui-shadow" style="width:150px; height:150px;" onclick="javascript:explode( @conta, '@Url.Action(configurazione.action, configurazione.controller)')">@configurazione.display</button>
        conta++;
    }
</div>



<script>
    function explode(indice, url) {
        // alert("explode" + indice);
        //alert(obj.name);

        // $("#Home").hide("explode", {}, 1000);
        //$("#"+obj.name).hide("explode", {}, 1000, function(){
        //alert(obj.name);

        //});

        //for (i = indice; i < @Model.Count; i++) {
        //  $("#box_"+ i).hide("explode", {}, 1000);
        // }

        $("#box_" + indice).hide("explode", {}, 1000);
        location.href = url;


        //$(".SICUREZZA").show("drop", {}, 1000);

    }
</script>


