@model mediatori.Models.UI.ComboDataModel

<select name="Days" id="Days" data-mini="true" data-inline="true" @(Model.isEnabled?"":"disabled")>
    <option value="@((int)MyManagerCSharp.ManagerDB.Days.Tutti)"                            @((Model.selectedValue == MyManagerCSharp.ManagerDB.Days.Tutti) ? "selected" : "")>Tutti</option>
    <option value="@((int)MyManagerCSharp.ManagerDB.Days.Oggi)"                             @((Model.selectedValue == MyManagerCSharp.ManagerDB.Days.Oggi) ? "selected" : "")>Oggi</option>
    <option value="@((int)MyManagerCSharp.ManagerDB.Days.Ieri)"                             @((Model.selectedValue == MyManagerCSharp.ManagerDB.Days.Ieri) ? "selected" : "")>Ieri</option>
    <option value="@((int)MyManagerCSharp.ManagerDB.Days.Settimana_corrente)"               @((Model.selectedValue == MyManagerCSharp.ManagerDB.Days.Settimana_corrente) ? "selected" : "")>Settimana corrente</option>
    <option value="@((int)MyManagerCSharp.ManagerDB.Days.Settimana_precedente)"             @((Model.selectedValue == MyManagerCSharp.ManagerDB.Days.Settimana_precedente) ? "selected" : "")>Settimana precedente</option>
    <option value="@((int)MyManagerCSharp.ManagerDB.Days.Ultimi_7_giorni )"                 @((Model.selectedValue == MyManagerCSharp.ManagerDB.Days.Ultimi_7_giorni) ? "selected" : "")>Ultimi 7 giorni</option>     
    <option value="@((int)MyManagerCSharp.ManagerDB.Days.Mese_corrente)"                    @((Model.selectedValue == MyManagerCSharp.ManagerDB.Days.Mese_corrente) ? "selected" : "")>Mese corrente</option>
    <option value="@((int)MyManagerCSharp.ManagerDB.Days.Mese_precedente)"                  @((Model.selectedValue == MyManagerCSharp.ManagerDB.Days.Mese_precedente) ? "selected" : "")>Mese precedente</option>
    <option value="@((int)MyManagerCSharp.ManagerDB.Days.Ultimi_30_giorni  )"               @((Model.selectedValue == MyManagerCSharp.ManagerDB.Days.Ultimi_30_giorni) ? "selected" : "")>Ultimi 30 giorni</option>     
    <option value="@((int)MyManagerCSharp.ManagerDB.Days.Primo_semestre_anno_corrente)"     @((Model.selectedValue == MyManagerCSharp.ManagerDB.Days.Primo_semestre_anno_corrente) ? "selected" : "")>Primo semestre anno corrente</option>
    <option value="@((int)MyManagerCSharp.ManagerDB.Days.Primo_semestre_anno_precedente)"   @((Model.selectedValue == MyManagerCSharp.ManagerDB.Days.Primo_semestre_anno_precedente) ? "selected" : "")>Primo semestre anno precedente</option>
    <option value="@((int)MyManagerCSharp.ManagerDB.Days.Secondo_semestre_anno_corrente)"   @((Model.selectedValue == MyManagerCSharp.ManagerDB.Days.Secondo_semestre_anno_corrente) ? "selected" : "")>Secondo semestre anno corrente</option>
    <option value="@((int)MyManagerCSharp.ManagerDB.Days.Secondo_semestre_anno_precedente)" @((Model.selectedValue == MyManagerCSharp.ManagerDB.Days.Secondo_semestre_anno_precedente) ? "selected" : "")>Secondo semestre anno precedente</option>
    <option value="@((int)MyManagerCSharp.ManagerDB.Days.Ultimo_semestre)"                  @((Model.selectedValue == MyManagerCSharp.ManagerDB.Days.Ultimo_semestre) ? "selected" : "")>Ultimo semestre</option>
    <option value="@((int)MyManagerCSharp.ManagerDB.Days.Anno_corrente)"                    @((Model.selectedValue == MyManagerCSharp.ManagerDB.Days.Anno_corrente) ? "selected" : "")>Anno corrente</option>
    <option value="@((int)MyManagerCSharp.ManagerDB.Days.Anno_precedente)"                  @((Model.selectedValue == MyManagerCSharp.ManagerDB.Days.Anno_precedente) ? "selected" : "")>Anno precedente</option>
</select>