@{
    bool isAmministratore = false;
    bool isDipendente = false;
    bool isCollaboratore = false;

    mediatori.SessionData sessionData = (Session["MySessionData"] as mediatori.SessionData);

    if (sessionData != null)
    {
        isAmministratore = sessionData.IsInProfile(MyConstants.Profilo.AMMINISTRATORE);
        isDipendente = sessionData.IsInProfile(MyConstants.Profilo.DIPENDENTE);
        isCollaboratore = sessionData.IsInProfile(MyConstants.Profilo.COLLABORATORE);
    }

    string contesto = Request.ApplicationPath;
    if (contesto == "/")
    {
        contesto = "";
    }

    HtmlString javaScriptNotification = new HtmlString("");


    if (TempData["Message"] != null && TempData["Message"].GetType() == typeof(MyMessage))
    {
        string messaggio = "";
        string tipo = "";

        MyMessage message = (MyMessage)TempData["Message"];

        messaggio = message.testo;
        messaggio = messaggio.Replace("|", "<br />").Replace("'", "\\'");

        // HtmlString html = new HtmlString(temp);

        switch (message.tipo)
        {
            case MyMessage.MyMessageType.Success:
                tipo = "success";
                break;
            case MyMessage.MyMessageType.Warning:
                tipo = "warning";
                break;
            case MyMessage.MyMessageType.Failed:
            case MyMessage.MyMessageType.Exception:
                tipo = "error";
                break;
        }

        javaScriptNotification = new HtmlString(String.Format("MyNoty('{0}','{1}');", tipo, messaggio));

    }
}


<!DOCTYPE html>
<html lang="it">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>@System.Configuration.ConfigurationManager.AppSettings["application.name"] @(String.IsNullOrEmpty(ViewBag.Title) ? "" : " - " + ViewBag.Title)</title>

    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />

    <meta http-equiv="expires" content="0" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="cache-control" content="no-cache" />

    <meta http-equiv="content-language" content="it" />

    <meta name="language" content="italian" />

    <meta content="index,follow" name="robots" />

    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <link rel="stylesheet" media="all" href="@Url.Content("~/Content/Style/themes/MyTheme.min.css")" />
    <link rel="stylesheet" media="all" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile.structure-1.4.5.min.css" />
    <link rel="stylesheet" media="all" href="@Url.Content("~/Content/Style/SiteMINI.css")" />
    <link rel="stylesheet" media="all" href="@Url.Content("~/Content/Style/animate.css")" />


    @if (MyManagerCSharp.RegularExpressionManager.isOldBrowser(Request.UserAgent))
    {
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
        <script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    }
    else
    {
        //<script type="text/javascript" src="@Url.Content("~/Scripts/jquery-2.1.1.min.js")"></script>
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
        <script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    }


    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")"></script>


    <script type="text/javascript" src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>


    <script type="text/javascript" src="@Url.Content("~/Scripts/fireAntUtils.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/noty/packaged/jquery.noty.packaged.min.js")"></script>


    <!-- DatePicker   -->
    <script id="mobile-datepicker" src="@Url.Content("~/Content/js/jquery.mobile.datepicker.js")"></script>
    <script src="http://rawgithub.com/jquery/jquery-ui/1.10.4/ui/jquery.ui.datepicker.js"></script>
    <link rel="stylesheet" href="http://rawgithub.com/arschmitz/jquery-mobile-datepicker-wrapper/v0.1.1/jquery.mobile.datepicker.css">

    @if (isAmministratore)
    {
        <style>
            .mytab {
                width: 16.6% !important; /* 11.1% for 9 tabs wide */
                clear: none !important; /* Prevent line break caused by ui-block-a */
            }
        </style>

    }

    <script type="text/javascript">

        var contextPath = '@contesto';

        $(document).on("pageinit", function () {
            $.mobile.ajaxEnabled = false;

            //alert("pageinit");
            clock();

            assegnazioni();


            @javaScriptNotification


        });


        function MyNoty(tipo, messaggio) {
            var n = noty({
                text: messaggio,
                theme: 'relax',
                type: tipo,
                layout: 'center',
                timeout: 2000,
                buttons: false,
                animation: {
                    open: 'animated flipInX', // Animate.css class names
                    close: 'animated flipOutX', // Animate.css class names
                    easing: 'swing', // unavailable - no need
                    speed: 500 // unavailable - no need
                }
            });
        };


        function clock() {
            var d = new Date();
            $("#headerClock").html(d.toLocaleDateString() + " - " + d.toLocaleTimeString());
            setTimeout(function () {
                clock();
            }, 1000);
        };


        var isFirstTime = true;
        var isFirstTimeScadute = true;

        function assegnazioni() {
            //alert("assegnazioni");
            $.getJSON('@Url.Action("AssegnazioniByJson", "Home")', function (myresponse) {

                var str = "";
                str = "Da assegnare: " + myresponse[0].Value;
                // $("#segnalazioniDaAssegnare").html(str);

                str = "Assegnate: " + myresponse[1].Value;
                //$("#segnalazioniAssegnate").html(str);
                str = parseInt(myresponse[0].Value) + parseInt(myresponse[1].Value);

                //alert(str);
                // alert($("#MySegnalazioni").text());

                //$("#MySegnalazioni").text("dddd");



                if ($("#MySegnalazioni").text() != str) {

                    $("#MySegnalazioni").text(str);

                    if (isFirstTime) {
                        isFirstTime = false;
                    } else {
                        $("#MySegnalazioni").effect("shake");
                    }
                }


                str = myresponse[2].Value;

                //alert("SegnalazioniScadute: " + str);

                if ($("#SegnalazioniScadute").text() != str) {
                    $("#SegnalazioniScadute").text(str);
                    if (isFirstTimeScadute) {
                        isFirstTimeScadute = false;
                    } else {
                        $("#SegnalazioniScadute").effect("shake");
                    }
                }
            });



            setTimeout(function () { assegnazioni(); }, 10000);

        }

        function showMyPopUpError(messaggio) {
            // alert("showPopUpError");
            $("#popupErrorpMessage").html(messaggio);
            $("#popupError").popup("open");
        }


    </script>

    @RenderSection("scripts", required: false)

</head>

<body>
    <div data-role="page" id="Page1" data-theme="a" style="background-color: white;">
        <div data-role="header" data-position="fixed" style="background-color:#5F7605; background-repeat:no-repeat;background-image:url(@Url.Content("~/Images/topImage.png"));">
            @if (User.Identity.IsAuthenticated)
            {
                <a href="#nav-panel" data-icon="bars" data-iconpos="notext">Menu</a>
            }

            <div style="height: 40px">
                <a href="@Url.Action("Index", "Home")" data-role="none" class="ui-btn-left" style="margin-left:20px;">
                    <img src="@Url.Content("~/Images/marioh62.png")">
                </a>


                @if (User.Identity.IsAuthenticated)
                {
                    <div style="display:inline;  margin-top: 3px; padding:0; width:20px">
                        <a href="@Url.Action("Manage", "Account")" class="ui-btn ui-icon-user  ui-btn-icon-left" style="display:block; float:right; margin-right: 0.5em;" title="@User.Identity.Name">@User.Identity.Name</a>
                        <a id="MySegnalazioni" href="@Url.Action("Assegnazioni", "Home")" class="ui-btn ui-corner-all" style="display:block; float:right; margin-right:2em;" title="Assegnazioni">0</a>
                        <a id="SegnalazioniScadute" href="@Url.Action("Assegnazioni", "Home")" class="ui-btn ui-corner-all" style="display:block; float:right; margin-right:2em; color:red" title="Assegnazioni scadute">0</a>
                    </div>
                }

                <div id="headerClock" class="ui-btn-right ui-body-b" style="margin-top: 3.5em; margin-right: 0.5em;"></div>

            </div>

            <div data-role="navbar" style="margin-top: 25px;">
                @if (User.Identity.IsAuthenticated)
                {
                    <ul>
                        <li class="mytab"><a href="@Url.Action("Index", "Segnalazioni")">Segnalazioni</a></li>
                        <li class="mytab"><a href="@Url.Action("Index", "Pratiche")">Pratiche</a></li>
                        @if (isAmministratore || isDipendente)
                        {
                            <li class="mytab"><a href="@Url.Action("Anagrafiche", "Home")">Anagrafiche</a></li>
                        }

                        @if (isAmministratore)
                        {
                            <li class="mytab"><a href="@Url.Action("Index", "Reports")">Reports</a></li>
                            <li class="mytab"><a href="@Url.Action("Sicurezza", "Home")">Sicurezza</a></li>
                            <li class="mytab"><a href="@Url.Action("Index", "Configurazioni")">Configurazioni</a></li>
                        }
                    </ul>
                }
            </div>

        </div>
        <!-- /header -->

        <div role="main" class="ui-content ui-body ui-body-a">
            @RenderBody()
        </div>
        <!-- /main -->

        <div data-role="panel" data-position-fixed="false" data-display="overlay" data-theme="a" id="nav-panel">
            <ul data-role="listview">
                <li data-icon="delete"><a href="#" data-rel="close">Close menu</a></li>
                <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                <li><a href="@Url.Action("Index", "Segnalazioni")">Segnalazioni</a></li>
                <li><a href="@Url.Action("Index", "Pratiche")">Pratiche</a></li>
                @if (isAmministratore || isDipendente)
                {
                    <li><a href="@Url.Action("Anagrafiche", "Home")">Anagrafiche</a></li>
                }

                @if (isAmministratore)
                {
                    <li><a href="@Url.Action("Index", "Reports")">Reports</a></li>
                    <li><a href="@Url.Action("Sicurezza", "Home")">Sicurezza</a></li>
                    <li><a href="@Url.Action("Index", "Configurazioni")">Configurazioni</a></li>
                }
                <li><a href="@Url.Action("Logoff", "Account")">LogOff</a></li>
            </ul>
        </div>



        <div data-role="popup" id="popupError" class="ui-content" data-theme="c" style=" max-width:280px" data-dismissible="false">
            <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-left">Close</a>
            <p id="popupErrorpMessage"></p>
        </div>


    </div>

    <!-- /page -->
    <!-- Start of second page: #two -->
    <div data-role="page" id="PageCalendar" data-theme="a" style="width: 80%; height: 80%;">
        <div data-role="header">
            <h1>Calendario</h1>
        </div>
        <!-- /header -->

        <div role="main" class="ui-content">
            <ol data-role="listview" data-inset="true" data-theme="c">
                <li><a href="#">Attività 1</a></li>
                <li><a href="#">Attività 2</a></li>
                <li><a href="#">Attività 3</a></li>
                <li><a href="#">Attività 4</a></li>
                <li><a href="#">Attività 5</a></li>
            </ol>

        </div>
        <!-- /content -->

        <div data-role="footer">
            <h3><a href="#Page1" data-direction="reverse" class="ui-btn ui-icon-back  ui-btn-icon-left ui-shadow ui-corner-all ui-btn-b">Back to page</a></h3>
        </div>
        <!-- /footer -->
    </div>
    <!-- /page two -->






</body>
</html>
