@model BusinessModel.SimulazioneFinanziaria.SimulazioneModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}

<script type="text/javascript">
    $(document).on("pageinit", function () {

        //alert("pageinit");

        $("#prodottoId").selectmenu("disable");


        $('#agenziaId').change(function () {

            var selectedValue = $(this).val();
            var selectedText = $(this).find(":selected").text();

            // alert("selectedValue: " + selectedValue + " selectedText: " + selectedText);

            $('#prodottoId').empty();
            $('#prodottoId').append($('<option/>', { value: "", text: "---" }));
            $('#prodottoId').val("").change();


            if (selectedValue == "") {
                $('#prodottoId').selectmenu('disable');
            } else {

                $.getJSON('@Url.Action("GetProdotti", "Simulazione")', { agenziaId: selectedValue }, function (prodotti) {

                    //alert(prodotti.length);

                    $.each(prodotti, function (index, item) {
                        $('#prodottoId').append($('<option/>', {
                            value: item.Value,
                            text: item.Text
                        }));
                    });

                    $('#prodottoId').selectmenu('enable');
                });

            }
        });

    });

</script>

<h2 style="float:right;">ver: @Model.versione</h2>
<h2>Simulazione finanziaria</h2>


@using (Html.BeginForm("Select", "Simulazione", FormMethod.Post, new { id = "MyForm" }))
{
    <input type="hidden" name="segnalazioneId" value="@Model.segnalazioneId" />

    <div class="ui-field-contain">
        <label for="agenziaId">Agenzia</label>
        <select name="agenziaId" id="agenziaId" data-mini="true" required>
            <option value="" selected="selected">---</option>
            @foreach (MyManagerCSharp.Models.MyItem agenzia in Model.agenzie)
            {
                <option value="@agenzia.Value" @(int.Parse(agenzia.Value) == Model.agenziaId ? "selected=selected" : "")>@agenzia.Text</option>
            }
        </select>
    </div>

    <div class="ui-field-contain">
        <label for="prodottoId">Prodotti</label>
        <select name="prodottoId" id="prodottoId" data-mini="true" required>
            <option value="">---</option>
            @foreach (MyManagerCSharp.Models.MyItem prodotto in Model.agenzie)
            {
                <option value="@prodotto.Value" @(prodotto.Value == Model.prodottoId ? "selected=selected" : "")>@prodotto.Text</option>
            }
        </select>
    </div>

    <fieldset class="MyFieldset">
        <legend class="MyLegend">Cedente</legend>

        <div class="ui-field-contain">
            <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
                <legend>Sesso:</legend>
                <input name="sesso" id="sessoM" value="M" type="radio" @(Model.sesso != null && Model.sesso == "M" ? "checked=checked" : "")>
                <label for="sessoM">M</label>
                <input name="sesso" id="sessoF" value="F" type="radio" @(Model.sesso != null && Model.sesso == "F" ? "checked=checked" : "")>
                <label for="sessoF">F</label>
            </fieldset>
        </div>


        <div class="ui-field-contain">
            <label for="dataDiNascita">Nato il</label>
            <input type="text" name="dataDiNascita" id="dataDiNascita" data-role="date" required data-mini="true" value="@(Model.dataDiNascita == null?"":Model.dataDiNascita.Value.ToShortDateString())" />
        </div>

        <div class="ui-field-contain">
            <label for="nazionalita">Nazionalità</label>
            <select name="nazionalita" id="nazionalita" data-mini="true" required>
                <option value="I">Italiana</option>
                <option value="C">Comunitaria</option>
                <option value="E">Extracomunitaria</option>
            </select>
        </div>
    </fieldset>


    <div class="ui-field-contain">
        <label for="numeroRate">Numero rate</label>

       
    @if (Model.numeroRate == null)
    {
        Html.RenderPartial("_ComboNumeroRate", -1);
    }
    else
    {
        Html.RenderPartial("_ComboNumeroRate", Model.numeroRate);
    }

        
    </div>

    <div class="ui-field-contain">
        <label for="importoRata">Importo rata</label>
        <input type="number" name="importoRata" id="importoRata" min="0" required data-mini="true" value="@(Model.importoRata == null ? "" : Model.importoRata.Value.ToString(MyConstants.CultureInfoEN))" />
    </div>

    <div class="ui-field-contain">
        <label for="dataAssunzione">Data assunzione</label>
        <input type="text" name="dataAssunzione" id="dataAssunzione" data-role="date" required data-mini="true" value="@(Model.dataAssunzione == null?"":Model.dataAssunzione.Value.ToShortDateString())" />
    </div>

    <div data-role="controlgrup" data-type="horizontal">
        @if (Model.segnalazioneId != null)
        {
            <a href="@Url.Action("Details", "Segnalazioni", new { id = Model.segnalazioneId })" class="ui-btn-inline ui-btn ui-corner-all ui-mini">Annulla</a>
        }
        <input type="submit" value="Invia" data-inline="true" data-mini="true" />
    </div>
}

