@model BusinessModel.SimulazioneFinanziaria.SimulazioneModel
@{
    ViewBag.Title = "Select";
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";

    //decimal alNettoDelleprovvigioni;
    int conta = -1;
    string css;
}

<h2>Simulazione finanziaria</h2>
<p>Selezionare un prodotto:</p>

<table data-role="table" data-mode="reflow" class="ui-responsive MyTable">
    <thead>
        <tr class="ui-bar-b">
            <th>Prodotto</th>
            <th>Tariffario banca</th>
            <th>Tariffario ass. vita</th>
            <th>Tariffario ass. impiego</th>
            <th>TAEG</th>
            <th>Netto erogato</th>
            <th>Seleziona</th>
        </tr>
    </thead>
    <tbody>
        @foreach (BusinessModel.PccWS.importiPraticaVO importo in (Session[MyConstants.MySessionData.ProdottiSimulazioneFinanziaria.ToString()] as BusinessModel.PccWS.importiPraticaVO[]))
        {
            conta++;
            if (conta % 2 == 0)
            {
                css = "ui-bar-d";
            }
            else
            {
                css = "ui-bar-a";
            }

            //switch (importo.baseCalcoloProvvigioni)
            //{
            //    case "TF": //Tabella finanziaria
            //        alNettoDelleprovvigioni = importo.importoNettoErogato + importo.importoProvvigioneReteAgenzia + importo.importoProvvigioneAgenziaCaricante;
            //        break;
            //    case "MONT": //Montante
            //        alNettoDelleprovvigioni = importo.importoNettoErogato + importo.importoProvvigioneAgenziaCaricante;
            //        break;
            //    default:
            //        alNettoDelleprovvigioni = -1;
            //        break;
            //}

            <tr class="@css">
                <td>@(importo.praticaVO == null ? "N/A" : importo.praticaVO.prtTpprDescrizione)</td>
                <td>@(importo.politicaTassi == null ? "N/A" : importo.politicaTassi.descrizione)</td>
                <td>@(importo.searchCriteria == null ? "N/A" : importo.searchCriteria.filtro.assicurazioneVitaVO.descrizione)</td>
                <td>@(importo.searchCriteria == null ? "N/A" : importo.searchCriteria.filtro.assicurazioneImpiegoVO.descrizione)</td>
                <td>@(importo.praticaVO == null ? "N/A" : String.Format("{0:P2}", importo.praticaVO.prtTaeg / 100))
                <td>@(String.Format("{0:N2}", importo.importoNettoErogato))</td>
                <td><a href="@Url.Action("Details", "Simulazione", new { id = conta , segnalazioneId = Model.segnalazioneId})" class="ui-btn ui-icon-action ui-btn-icon-notext ui-corner-all">No text</a> </td>
            </tr>
        }
    </tbody>
</table>

<div data-role="controlgrup" data-type="horizontal">
    @if (Model.segnalazioneId != null)
    {
        <a href="@Url.Action("createForSegnalazione", "Simulazione", new { codiceSegnalazione = Model.segnalazioneId })" class="ui-btn-inline ui-btn ui-corner-all ui-mini">Annulla</a>
    }
</div>