@model mediatori.Models.Anagrafiche.Amministrazione
@{Layout = null;}

<div class="editor-label">
    @Html.LabelFor(model => model.partitaIva)
    <div>@Html.DisplayFor(model => model.partitaIva)</div>
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.capitaleSociale)
    <div>@Html.DisplayFor(model => model.capitaleSociale)</div>
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.tipoNaturaGiuridica)
    <div>@Html.DisplayFor(model => model.tipoNaturaGiuridica.descrizione)</div>
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.stato)
    <div>@Html.DisplayFor(model => model.stato.descrizione)</div>
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.tipoCategoria)
    <div>@Html.DisplayFor(model => model.tipoCategoria.descrizione)</div>
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.assumibilita)
    <div>@Html.DisplayFor(model => model.assumibilita.descrizione)</div>
</div>

