@model mediatori.Models.Anagrafiche.Riferimento
@{
    Layout = null;
}

@Html.HiddenFor(m => m.id)

<div class="editor-label">
    @Html.LabelFor(m => m.tipoRiferimento)
    @Html.DropDownListFor(m => m.tipoRiferimento.id, (IEnumerable<SelectListItem>)ViewBag.listaTipoRiferimento, "", new { data_mini = "true" })<br />
    @Html.ValidationMessageFor(m => m.tipoRiferimento.id)
</div>
<div class="editor-label">
    @Html.MyInputType( m => m.valore)
</div>






