@model mediatori.Models.PreventivoSmall
@{
        Layout = null;
}



<div class="ui-corner-all custom-corners">
    <div class="ui-bar ui-bar-a" style="height:2.5em;">

        <h2 style="margin-top:0.5em;">
            Preventivo #@Model.progressivo generato il  @Model.dataInserimento.Value.ToShortDateString() 

            @if (Model.dataConferma == null)
            {
                <a href="javascript:selezionaPreventivo(@Model.id);" data-rel="popup" data-position-to="window" data-transition="pop" class="ui-btn ui-corner-all ui-btn-inline ui-icon-info ui-btn-icon-left ui-btn-b ui-mini ui-btn-right">Conferma</a>
            }
            else
            {
                @Html.Raw(" confermato il " + Model.dataConferma.Value.ToShortDateString());
            }
        </h2>
    </div>

    <div class="ui-body ui-body-a">
       
        <div class="display-control">
            @Html.LabelFor(m => m.importoRata)
            <div>@Html.DisplayFor(m => m.importoRata)</div>
        </div>
        <div class="display-control">
            @Html.LabelFor(m => m.durata)
            <div>@Html.DisplayFor(m => m.durata)</div>
        </div>
        <div class="display-control">
            @Html.LabelFor(m => m.montante)
            <div>@Html.DisplayFor(m => m.montante)</div>
        </div>
        <div class="display-control">
            @Html.LabelFor(m => m.nettoCliente)
            <div>@Html.DisplayFor(m => m.nettoCliente)</div>
        </div>
        <div class="display-control">
            @Html.LabelFor(m => m.tan)
            <div>@Html.DisplayFor(m => m.tan)</div>
        </div>
        <div class="display-control">
            @Html.LabelFor(m => m.taeg)
            <div>@Html.DisplayFor(m => m.taeg)</div>
        </div>
       
    </div>
</div>
