@model mediatori.Models.PreventivoSmall
@{
    Layout = null;
}

<div class="editor-control">
    @Html.MyInputType(m => m.importoRata)
</div>
<div class="editor-control">
    @Html.MyInputType(m => m.durata)
</div>
<div class="editor-control">
    @Html.MyInputType(m => m.montante)
</div>
<div class="editor-control">
    @Html.MyInputType(m => m.nettoCliente)
</div>
<div class="editor-control">
    @Html.MyInputType(m => m.tan)
</div>
<div class="editor-control">
    @Html.MyInputType(m => m.taeg)
</div>
