@model mediatori.Models.ChangePasswordModel
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}

<h2>Modifica della password</h2>

<p>Per migliorare la sicurezza della tua password, ti consigliamo di rispettare i seguenti criteri:</p>

<ul>
    <li>lunghezza minima di 6 caratteri;</li>
    <li>almeno una cifra numerica;</li>
    <li>almeno un carattere minuscolo;</li>
    <li>almeno un carattere maiuscolo;</li>
    <li>almeno uno dei seguenti caratteri speciali:  @MyManagerCSharp.PasswordManager.PASSWORD_CHARS_SPECIAL </li>
</ul>

@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)


    <div style="max-width: 500px;">
        <div class="ui-field-contain">
            <label for="OldPassword">Vecchia password:</label>
            <input type="password" name="OldPassword" id="OldPassword" data-clear-btn="true" data-mini="true" required value="@Model.OldPassword" data-val="true" data-val-required="Valore obbligatorio">
            <span data-valmsg-replace="true" data-valmsg-for="OldPassword" class="field-validation"></span>
        </div>
        <div class="ui-field-contain">
            <label for="NewPassword">Nuova password:</label>
            <input type="password" name="NewPassword" id="NewPassword" data-clear-btn="true" data-mini="true" required value="@Model.NewPassword" data-val="true" data-val-required="Valore obbligatorio">
            <span data-valmsg-replace="true" data-valmsg-for="NewPassword" class="field-validation"></span>
        </div>
        <div class="ui-field-contain">
            <label for="ConfirmPassword">Conferma la nuova password:</label>
            <input type="password" name="ConfirmPassword" id="ConfirmPassword" data-clear-btn="true" data-mini="true" required value="@Model.ConfirmPassword" data-val="true" data-val-required="Valore obbligatorio" data-val-equalto="La password di conferma non corrisponde" data-val-equalto-other="NewPassword">
            <span data-valmsg-replace="true" data-valmsg-for="ConfirmPassword" class="field-validation"></span>
        </div>

        <div data-role="controlgrup" data-type="horizontal">
            <a href="@Url.Action("Manage", "Account")" class="ui-btn-inline ui-btn ui-corner-all ui-mini">Annulla</a>
            <input type="submit" data-inline="true" value="Modifica" data-icon="edit" data-mini="true" />
        </div>
    </div>
}
