@model mediatori.Models.LogOnModel

@{
    ViewBag.Title = "Accedi";
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}

<h2>Login</h2>
@Html.ValidationSummary(true, "Attenzione")

@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken() 
    
    <div style="max-width: 500px;">
        <div>
            <label for="UserName">Username:</label>
            <input type="text" name="UserName" id="UserName"  data-clear-btn="true" data-mini="false" required   value="@Model.UserName" >
        </div>
        <div>
            <label for="Password">Password:</label>
            <input type="password" name="Password" id="Password" data-clear-btn="true" data-mini="false" required value="">
        </div>

        <div data-role="controlgrup" data-type="horizontal">
            <input type="submit" data-inline="true" value="Login" data-mini="true" />
        </div>
    </div>
    
    <input type ="hidden" name ="returnUrl" value ="@ViewBag.ReturnUrl" />
}



<p>
    Se vuoi accedere all'area demo  e ottenere un account gratuito <a href ="@Url.Action("Register", "Account")">registrati</a>.
</p>

