@model IEnumerable<mediatori.Models.Anagrafiche.SoggettoGiuridico>
@{
    ViewBag.Title = "Index";
}

<h2>lista Segnalazioni</h2>
<div id="message">@ViewBag.message</div>
<div id="azioni">
    @Html.ActionLink("Nuovo Soggetto Giuridico", "Create")
    @using(Html.BeginForm("Index","SoggettoGiuridico",FormMethod.Get,null)){
     <div class="form-ricerca">
            <label>Ragione Sociale</label> 
            @Html.TextBox("ragioneSociale")
        </div>
        
        <div class="form-ricerca">
            <label>Tipologia</label> 
            @Html.DropDownList("tipoSoggettoGiuridico",(SelectList) ViewBag.listaTipiSoggettiGiuridici)
        </div>
        <div class="form-ricerca">
            <label>Codice Fiscale</label> 
            @Html.TextBox("codiceFiscale")
        </div>
       <div class="form-ricerca-submit"><input type="submit" value="Ricerca segnalazione" /></div>
            
       
         
       @* <table>
           <tr>
                <td>Ragione sociale</td> <td>@Html.TextBox("ragioneSociale")</td>
                <td>Partita IVA</td> <td>@Html.TextBox("partitaIva")</td>
               <td>Tipologia</td> <td>@Html.DropDownList("tipoSoggetto",(SelectList) ViewBag.listaTipiSoggettiGiuridici)</td>
           </tr>
        </table>*@
       
        }


</div>

<table class="listTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ragioneSociale)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.codiceFiscale)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipoSoggettoGiuridico)
        </th>
        <th></th>        
    </tr>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(m =>item.ragioneSociale)
        </td>
        <td>
            @Html.DisplayFor(m =>item.codiceFiscale)
        </td>
        <td>
            @Html.DisplayFor(m =>item.tipoSoggettoGiuridico)
        </td>
        
        <td>
      
            @Html.ActionLink("Details", "Details", new { id=item.id })
           
        </td>
    </tr>
}

</table>
