@model mediatori.Models.Anagrafiche.SoggettoGiuridico
@{
    Layout = null;
 
     
}

<div class="editor-label">
    @Html.LabelFor(model => model.ragioneSociale)
    @Html.EditorFor(model => model.ragioneSociale)<br />
    @Html.ValidationMessageFor(model => model.ragioneSociale)
    @Html.HiddenFor(model => model.id)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.codiceFiscale)
    @Html.EditorFor(model => model.codiceFiscale)<br />
    @Html.ValidationMessageFor(model => model.codiceFiscale)
</div>
<div class="editor-label" id="divTipoSoggettoGiuridico">
    @Html.LabelFor(model => model.tipoSoggettoGiuridico)
     @if (ViewBag.tipoSoggetto == "AMMINISTRAZIONE")
     {
        <div>AMMINISTRAZIONE</div>
      @Html.HiddenFor(model => model.tipoSoggettoGiuridico, "AMMINISTRAZIONE");   
     } else{
       @Html.DropDownListFor(model => model.tipoSoggettoGiuridico, (IEnumerable<SelectListItem>)ViewBag.listaTipiSoggettiGiuridici);
    }
    <br />
    @Html.ValidationMessageFor(model => model.tipoSoggettoGiuridico)

</div>