@model mediatori.Models.Anagrafiche.Cedente

@{
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
    ViewBag.Title = Model.nome + " " + Model.cognome;
}

<h2>Dettaglio Cedente:  @Html.Display("nome")  @Html.Display("cognome") </h2>



<script>
    $(document).ready(function () {
        $.ajax({
            url: "/Log/getEventoInserimento",
            data: {
                idEntita: "@Model.id",
                entitaRiferimento: "CEDENTE"
            },
            cache: false,
            error: function (html) {

                $("#operatoreInserimento").html("");
                alert("errore nella gestione della richiesta\n" + html)
            },
            success: function (jsonSerialize) {

                var logEventi = jQuery.parseJSON(jsonSerialize);
                var dataInserimento = new Date(parseInt(logEventi.dataInserimento.substr(6)));
                $("#operatoreInserimento").html("inserito da: <b>" + logEventi.operatoreInserimento + "</b> il: <b>" + dataInserimento.getDate() + "/" + dataInserimento.getMonth() + "/" + dataInserimento.getFullYear() + "</b>");


            }
        });
    });
</script>
<div id="operatoreInserimento" style="display:inline-block;float:right;"></div>


@{Html.RenderAction("DetailsV2", "Contatto", new { id = Model.id, isCedente = true });}


@{Html.RenderAction("Details", "Impiego", new { contattoId = Model.id });}


@{Html.RenderAction("Details", "Riferimento", new { contattoId = Model.id });}


@{Html.RenderAction("Cedente", "Indirizzo", new { cedenteId = Model.id });}


@{Html.RenderAction("Details", "Impiego", new { contattoId = Model.id });}

@{Html.RenderAction("GetListPraticheContatto", "Pratiche", new { contattoId = Model.id });}

@{Html.RenderAction("GetListSegnalazioniContatto", "Segnalazioni", new { contattoId = Model.id });}


<div data-role="footer" data-position="fixed" data-theme="@MyConstants.FIXED_FOOTER_THEME">
    <div data-role="navbar">
        <ul>
            <li><a href="@Url.Action("Index")" class="ui-btn-inline ui-btn ui-corner-all ui-mini">Torna alla lista dei cedenti</a></li>
        </ul>
    </div>
</div>
