@model IEnumerable<mediatori.Models.Anagrafiche.Cedente>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Nuovo Cedente", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cognome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dataNascita)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.codiceFiscale)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cognome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dataNascita)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.codiceFiscale)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
