@model MyWebApplication.Areas.Admin.Models.MyUserModel
@{
    ViewBag.Title = "Dettaglio utente: " + ((String.IsNullOrEmpty(Model.Utente.login)) ? "N/A" : Model.Utente.login);
    Layout = "~/Areas/Admin/Views/Shared/MasterPageAdminMobile.cshtml";
}


<h2>Utente: @Model.Utente.login (id: @Model.Utente.userId)</h2>

<div data-role="tabs" id="tabs">
    <div data-role="navbar">
        <ul>
            <li><a href="#tabs-1">Account</a></li>
            <li><a href="#tabs-2">Anagrafica</a></li>
            <li><a href="#tabs-3">Gruppi</a></li>
            <li><a href="#tabs-4">Ruoli</a></li>
            <li><a href="#tabs-5">Reports</a></li>
        </ul>
    </div>

    <div id="tabs-1" class="ui-body ui-body-a">
        @{Html.RenderPartial("TabInfoAccount", Model.Utente);}
        <br />
        <br />
        <div class="ui-grid-c">
            <div class="ui-block-a">
                <div class="ui-bar ui-bar-c">Date added:</div>
                <div class="ui-bar ui-bar-c">Date modified:</div>
                <div class="ui-bar ui-bar-c">Date expire:</div>
                <div class="ui-bar ui-bar-c">Date expire password:</div>
                <div class="ui-bar ui-bar-c">Date activation account:</div>
            </div>
            <div class="ui-block-b">
                <div class="ui-bar ui-body-a">@MyHelper.decodeNull(Model.Utente.dateAdded)</div>
                <div class="ui-bar ui-body-a">@MyHelper.decodeNull(Model.Utente.dateModified)</div>
                <div class="ui-bar ui-body-a">@MyHelper.decodeNull(Model.Utente.dateExpire)</div>
                <div class="ui-bar ui-body-a">@MyHelper.decodeNull(Model.Utente.dateExpirePassword)</div>
                <div class="ui-bar ui-body-a">@MyHelper.decodeNull(Model.Utente.dateActivationAccount)</div>
            </div>
            <div class="ui-block-c">
                <div class="ui-bar ui-bar-c">Login success:</div>
                <div class="ui-bar ui-bar-c">Login failed:</div>
                <div class="ui-bar ui-bar-c">Date last login:</div>
            </div>
            <div class="ui-block-d">
                <div class="ui-bar ui-body-a">@Model.Utente.loginSuccess </div>
                <div class="ui-bar ui-body-a">@Model.Utente.loginFailed</div>
                <div class="ui-bar ui-body-a">@MyHelper.decodeNull(Model.Utente.dateLastLogin)</div>
            </div>
        </div>
    </div>


    <div id="tabs-2" class="ui-body ui-body-a">
        @{Html.RenderPartial("TabInfoAnagrafica", Model.Utente);}

        <br />
        <br />


        <div class="ui-grid-c">
            <div class="ui-block-a">
                <div class="ui-bar ui-bar-c">Telefono:</div>
                <div class="ui-bar ui-bar-c">Mobile:</div>
            </div>
            <div class="ui-block-b">
                <div class="ui-bar ui-body-a">@MyHelper.decodeNull(Model.Utente.telefono)</div>
                <div class="ui-bar ui-body-a">@MyHelper.decodeNull(Model.Utente.mobile)</div>
            </div>
            <div class="ui-block-c">
                <div class="ui-bar ui-bar-c">Http:</div>
                <div class="ui-bar ui-bar-c">Fax:</div>
            </div>
            <div class="ui-block-d">
                <div class="ui-bar ui-body-a">@MyHelper.decodeNull(Model.Utente.http)</div>
                <div class="ui-bar ui-body-a">@MyHelper.decodeNull(Model.Utente.fax)</div>
            </div>
        </div>



        <div class="ui-grid-c">
            <div class="ui-block-a">
                <div class="ui-bar ui-bar-c">Indirizzo:</div>
                <div class="ui-bar ui-bar-c">Numero civico:</div>
                <div class="ui-bar ui-bar-c">Cap:</div>
            </div>
            <div class="ui-block-b">
                <div class="ui-bar ui-body-a">@MyHelper.decodeNull(Model.Utente.indirizzo)</div>
                <div class="ui-bar ui-body-a">@MyHelper.decodeNull(Model.Utente.numero_civico)</div>
                <div class="ui-bar ui-body-a">@MyHelper.decodeNull(Model.Utente.cap)</div>
            </div>
            <div class="ui-block-c">
                <div class="ui-bar ui-bar-c">Regione:</div>
                <div class="ui-bar ui-bar-c">Provincia:</div>
                <div class="ui-bar ui-bar-c">Comune:</div>
            </div>
            <div class="ui-block-d">
                <div class="ui-bar ui-body-a">@MyHelper.decodeNull(Model.Utente.regione)</div>
                <div class="ui-bar ui-body-a">@MyHelper.decodeNull(Model.Utente.provincia)</div>
                <div class="ui-bar ui-body-a">@MyHelper.decodeNull(Model.Utente.comune)</div>
            </div>
        </div>

    </div>






    <div id="tabs-3" class="ui-body ui-body-a">
        @if (Model.Utente.Gruppi == null || Model.Utente.Gruppi.Count() == 0)
        {
            <h3>Nessun gruppo associato</h3>
        }
        else
        {
            <ol data-role="listview" data-inset="true">
                @foreach (MyUsers.Models.MyGroup g in Model.Utente.Gruppi)
                {
                    if (String.IsNullOrEmpty(g.tipo))
                    {
                    
                    <li><a href="@Url.Action("Details", "Groups", new { id = g.gruppoId })">@(g.nome)  @((!String.IsNullOrEmpty(g.tipo)) ? " [" + g.tipo + "]" : "")</a></li>
                    
                    }
                }
            </ol>
        }



        @{
            List<MyUsers.Models.MyGroup> GruppoRedazione;
            GruppoRedazione = Model.Utente.Gruppi.FindAll(x => x.tipo == "REDAZIONE");

            List<MyUsers.Models.MyGroup> GruppoAsset;
            GruppoAsset = Model.Utente.Gruppi.FindAll(x => x.tipo == "ASSET");
        }



        @if (GruppoRedazione == null || GruppoRedazione.Count == 0)
        {
            <h3>L'utente non appartiene ad un gruppo di redazione</h3>
        }
        else
        {
            <h3>Gruppo per la redazione di bollettini</h3>
            
            if (GruppoRedazione.Count > 1)
            {
            <h3 style="color: red;">Attenzione l'utente deve appartenere ad un solo gruppo di redazione</h3>
            }

            <ol data-role="listview" data-inset="true">
                @foreach (MyUsers.Models.MyGroup g in GruppoRedazione)
                {
                    <li><a href="@Url.Action("Details", "Groups", new { id = g.gruppoId })">@(g.nome)</a></li>
                }
            </ol>
        }



        @if (GruppoAsset == null || GruppoAsset.Count == 0)
        {
            <h3>L'utente non appartiene ad un gruppo asset virtuale</h3>
        }
        else
        {
            <h3>Gruppo asset virtuale</h3>
            if (GruppoAsset.Count > 1)
            {
            <h3 style="color: red;">Attenzione l'utente deve appartenere ad un solo gruppo asset virtuale</h3>
            }

            <ol data-role="listview" data-inset="true">
                @foreach (MyUsers.Models.MyGroup g in GruppoAsset)
                {
                    <li><a href="@Url.Action("Details", "Groups", new { id = g.gruppoId })">@(g.nome)</a></li>
                }
            </ol>
        }


    </div>



    <div id="tabs-4" class="ui-body ui-body-a">
        @if (Model.Utente.Ruoli == null || Model.Utente.Ruoli.Count() == 0)
        {
            <h3>Nessun ruolo associato</h3>
        }
        else
        {
     
            <ol data-role="listview" data-inset="true">
                @foreach (MyUsers.Models.MyRole r in Model.Utente.Ruoli)
                {
                    <li data-icon="false"><a href="#">@(r.nome)  [@(r.gruppo)]</a></li>
                }
            </ol>
        }
    </div>


    <div id="tabs-5" class="ui-body ui-body-a">

        <div class="canvas-flex">
            @{ Html.RenderPartial("~/Views/Widget/RGraph.cshtml", Model.Reports); }
        </div>

    </div>


</div>



<div data-role="controlgrup" data-type="horizontal">
    <a href="@Url.Action("Index", "Users")" class="ui-btn-inline ui-btn ui-corner-all ui-mini">Torna alla lista</a>
    <a href="@Url.Action("Edit", "Users", new { id = Model.Utente.userId })" class="ui-btn ui-icon-edit ui-btn-icon-left ui-btn-inline ui-corner-all ui-mini">Modifica</a>
    <a href="@Url.Action("Delete", "Users", new { id = Model.Utente.userId })" class="ui-btn ui-icon-delete ui-btn-icon-left ui-btn-inline ui-corner-all ui-mini">Elimina</a>
</div>


