@model MyUsers.Models.MyUser 
@{
    ViewBag.Title = "SID";
    Layout = "~/Areas/Admin/Views/Shared/MasterPageAdminMobile.cshtml";
}

<h2>SID</h2>

<p>Informazioni ottenute da Domanin Controller.</p>

<div class="ui-grid-a">
    <div class="ui-block-a">
        <div class="ui-bar ui-bar-c">SID:</div>
        <div class="ui-bar ui-bar-c">Login:</div>
        <div class="ui-bar ui-bar-c">Nome:</div>
        <div class="ui-bar ui-bar-c">Cognome:</div>
        <div class="ui-bar ui-bar-c">Email:</div>
    </div>
    <div class="ui-block-b">
        <div class="ui-bar ui-body-a">@(Model.SID.ToString())</div>
        <div class="ui-bar ui-body-a">@MyHelper.decodeNull(Model.login)</div>
        <div class="ui-bar ui-body-a">@MyHelper.decodeNull(Model.nome)</div>
        <div class="ui-bar ui-body-a">@MyHelper.decodeNull(Model.cognome)</div>
        <div class="ui-bar ui-body-a">
            @if (String.IsNullOrEmpty(Model.email))
            {
                @:N/A
            }
            else
            {
                <a data-role="none"  href="mailto:@Model.email">@Model.email</a>
            }
        </div>
    </div>
</div>


<div data-role="controlgrup" data-type="horizontal">
    <a href="@Url.Action("Index", "Users")" class="ui-btn-inline ui-btn ui-corner-all">Torna alla lista</a>
    <a href="@Url.Action("Details", "Users", new { id = Model.userId })" class="ui-btn ui-icon-delete ui-btn-icon-left ui-btn-inline ui-corner-all">Annulla</a>
</div>