@model mediatori.Models.Anagrafiche.AmministrazioneCreate

@{
   
    ViewBag.Title = "Create";
}

<h2>Nuova Socita'</h2>

@using (Html.BeginForm("Create", "Amministrazione", FormMethod.Post, new { @id = "createForm" }))
{
    Html.ValidationSummary(true);
    @Html.HiddenFor(model => model.amministrazione.id);
    <h3>Dati Amministrazione</h3>
    <hr />
    
    @Html.EditorFor(model => model.soggettoGiuridico);
    @Html.EditorFor(a => a.amministrazione);  
                                                 
   
    <h3>Indirizzi</h3>
    <hr />  
                                           using (Html.BeginCollectionItem("indirizzi"))
                                           {
                                               foreach (mediatori.Models.Anagrafiche.Indirizzo i in Model.indirizzi)
                                               {
                                                   Html.RenderAction("indirizzoPartial", "Indirizzo", new { indirizzo = i, tipoAzione = "INSERIMENTO" });
                                               }

                                           }


   
    <h3>Riferimenti</h3>
    <hr />
                                           if (Model.riferimenti != null)
                                           {
                                               foreach (mediatori.Models.Anagrafiche.Riferimento riferimenti in Model.riferimenti)
                                               {
                                                   {
                                                       Html.RenderAction("riferimentoPartial", "Riferimento", new { riferimento = riferimenti, tipoAzione = "INSERIMENTO" });
                                                   }
                                               }
                                           }
  
        
     
    <h3>Note</h3>
    <hr />
                                           if (Model.note != null)
                                           {
                                               foreach (mediatori.Models.Nota nota in Model.note)
                                               {
                                                   {
                                                       Html.RenderAction("notaPartial", "Nota", new { riferimento = nota, tipoAzione = "INSERIMENTO" });
                                                   }
                                               }
                                           }
      
    <p>
        <input type="submit" value="Nuovo" id="Nuovo" />
    </p>

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<script>
    $(function () {

        $("#Nuovo").click(function () {

            refreshValidation("createForm");
            if ($("Form").validate().form() && validateForm()) {
                $("Form").submit();
            }
        });
    });
    $(function () {
        $("#amministrazione_soggettoGiuridico_ragioneSociale").focus();
    });


</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/Segnalazioni/Create.js")
}
