@model  MyWebApplication.Areas.Admin.Models.MyGroupModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}


<h2>Gruppo: @Model.Gruppo.nome (id: @Model.Gruppo.gruppoId)</h2>

@using (Html.BeginForm("Edit", "Groups", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <input type="hidden" name="Gruppo.gruppoId" value="@Model.Gruppo.gruppoId" />

    <div class="ui-field-contain">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="Gruppo.nome" required="required" value="@Model.Gruppo.nome" />
    </div>

    <h2>Utenti</h2>

    <p>Inserisci il nome dell'utente da aggiungere al gruppo:</p>
    <input type="text" id="searchField" data-icon="plus" placeholder="Login utente da cercare">
    <fieldset id="suggestions" data-role="controlgroup">
        <legend></legend>
    </fieldset>

    <br />

    if (Model.Utenti == null || Model.Utenti.Count<MyUsers.Models.MyUser>() == 0)
    {
        <h3>Nessun utente associato</h3>
    }
    else
    {
        <ul data-role="listview" data-inset="true">
            @foreach (MyUsers.Models.MyUser u in Model.Utenti)
            {
                <li data-icon="delete"><a href="@Url.Action("DeleteUser", "Groups", new { id = Model.Gruppo.gruppoId, userId = u.userId })">@u.login</a></li>
            }
        </ul>
    }


    <div data-role="controlgrup" data-type="horizontal">
        <a href="@Url.Action("Index", "Groups")" class="ui-btn-inline ui-btn ui-corner-all ui-mini">Torna alla lista</a>
        <a href="@Url.Action("Details", "Groups", new { id = Model.Gruppo.gruppoId })" class="ui-btn-inline ui-btn ui-corner-all ui-mini">Annulla</a>
        <input type="submit" value="Salva" data-inline="true" data-mini="true" />
    </div>
 
}




<script>
    $(document).on("pageshow", function () {
        // alert("pageshow");

        $("#searchField").on("input", function (e) {
            var text = $(this).val();

            if (text.length < 3) {
                $("#suggestions").html("");
                $("#suggestions").listview("refresh");
            } else {

                console.log("source");
                $.getJSON('@Url.Action("AutoCompleteLogin", "Utenti")', { value: text }, function (mydata) {

                    var str = "";
                    for (var i = 0, len = mydata.length; i < len; i++) {
                        //str += "<li>" + res[i] + "</li>";
                        str += "<input type =\"checkbox\" name=\"myItems\" id=\"myItems[" + i + "]\"  value =\"" + mydata[i].Value + "\">";
                        str += "<label for=\"myItems[" + i + "]\">" + mydata[i].Text + "</label>";

                    }

                    $("#suggestions").html(str);

                    $("[type=checkbox]").checkboxradio();
                    $("[data-role=controlgroup]").controlgroup("refresh");
                });

                //$("#searchField").removeClass('ui-autocomplete-loading');
                console.log("source END");
            }
        });


    });
</script>


